libs/node-red-contrib-core/examples/deep-review-freeform.flow.json
[
  {
    "disabled": false,
    "id": "deep_review_tab",
    "info": "Freeform-only deep review workflow. Configure the moltnet-agent node after import, then edit the seed node for the target PR/branch/local diff.",
    "label": "MoltNet deep review (freeform)",
    "type": "tab"
  },
  {
    "apiUrl": "",
    "clientId": "b46d59c1-0b14-453c-a57b-8be1ced93141",
    "diaryId": "6e4d9948-8ec5-4f59-b82a-3acbc4bbc396",
    "id": "deep_review_agent_cfg",
    "name": "deep-review-agent",
    "teamId": "6743b4b1-6b93-46e2-a048-19490f04f91a",
    "type": "moltnet-agent"
  },
  {
    "agent": "deep_review_agent_cfg",
    "id": "deep_review_profile_freeze",
    "name": "FREEZE profile",
    "profileId": "1a653eb9-7bfa-475f-b517-c070c9c25b5e",
    "profileName": "deep-review-freeze-ollama-qwen-coder-v1",
    "type": "moltnet-runtime-profile"
  },
  {
    "agent": "deep_review_agent_cfg",
    "id": "deep_review_profile_preflight",
    "name": "PREFLIGHT profile",
    "profileId": "f4bb1d9b-6281-4158-ad88-cbcb1198c3dc",
    "profileName": "deep-review-preflight-ollama-qwen-coder-v1",
    "type": "moltnet-runtime-profile"
  },
  {
    "agent": "deep_review_agent_cfg",
    "id": "deep_review_profile_specialist",
    "name": "SPECIALIST profile",
    "profileId": "f50e9c58-4180-4e07-b120-08b6097c13d5",
    "profileName": "deep-review-specialist-ollama-qwen-coder-v1",
    "type": "moltnet-runtime-profile"
  },
  {
    "agent": "deep_review_agent_cfg",
    "id": "deep_review_profile_aggregate",
    "name": "AGGREGATE profile",
    "profileId": "29db793d-3ad9-420b-96e7-df5356b3d19b",
    "profileName": "deep-review-aggregate-ollama-kimi-v1",
    "type": "moltnet-runtime-profile"
  },
  {
    "id": "deep_review_note",
    "info": "This example keeps MoltNet generic: every agent step is taskType=freeform. Node-RED owns orchestration, correlationId threading, accepted gates, profile routing, specialist fan-out/fan-in, and aggregation. Task bodies pass through moltnet-task-builder before creation so the example follows the same validated envelope pattern as newer flows. Non-accepted task attempts and node errors are packed into explicit failure payloads; specialist failures become coverage gaps while terminal stage failures route to the final debug output. The FREEZE branch parses compact inline JSON for control flow, then lists and downloads any persistent review bundle artifact uploaded by the agent during the attempt. Runtime-profile config nodes pin each stage to an Ollama Cloud profile: FREEZE/PREFLIGHT/SPECIALIST use qwen3-coder:480b-cloud for reliable tool calls, and AGGREGATE uses kimi-k2.7-code:cloud.",
    "name": "Freeform-only deep review workflow",
    "type": "comment",
    "wires": [],
    "x": 270,
    "y": 40,
    "z": "deep_review_tab"
  },
  {
    "crontab": "",
    "id": "deep_review_start",
    "name": "start review",
    "once": false,
    "onceDelay": 0.1,
    "payload": "",
    "payloadType": "date",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "topic": "",
    "type": "inject",
    "wires": [["deep_review_seed"]],
    "x": 120,
    "y": 120,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "msg.review = {\n  workflow: 'deep-review-freeform:v1',\n  target: {\n    kind: 'github_pr',\n    owner: 'getlarge',\n    repo: 'themoltnet',\n    prNumber: 1486,\n    baseRef: 'main',\n    headRef: 'issue-1481-review-fixes'\n  },\n  dimensions: [\n    'correctness',\n    'security',\n    'performance',\n    'dry-codebase-fit',\n    'design-api-backcompat',\n    'tests',\n    'operability',\n    'readability'\n  ],\n  publishPolicy: 'none',\n  sizeGate: { maxFiles: 25, maxLoc: 1500 },\n  memory: {\n    query: 'task artifacts node-red review workflow branch issue-1481-review-fixes',\n    tags: ['decision'],\n    limit: 8\n  }\n};\nmsg.payload = {\n  query: msg.review.memory.query,\n  tags: msg.review.memory.tags,\n  limit: msg.review.memory.limit\n};\nreturn msg;",
    "id": "deep_review_seed",
    "initialize": "",
    "libs": [],
    "name": "seed target + config",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_entries_search"]],
    "x": 330,
    "y": 120,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "diaryId": "",
    "entryTypes": "",
    "excludeSuperseded": true,
    "excludeTags": "",
    "id": "deep_review_entries_search",
    "limit": "",
    "name": "optional memory search",
    "offset": "",
    "query": "",
    "tags": "",
    "type": "moltnet-entries-search",
    "wImportance": "",
    "wRecency": "",
    "wRelevance": "",
    "wires": [["deep_review_stash_memory"]],
    "x": 590,
    "y": 120,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "const entries = Array.isArray(msg.payload) ? msg.payload : [];\nmsg.reviewMemory = entries.map((entry) => ({\n  id: entry.id,\n  title: entry.title || '',\n  type: entry.entryType || entry.type || '',\n  tags: entry.tags || [],\n  summary: String(entry.content || entry.summary || '').slice(0, 700)\n}));\nreturn msg;",
    "id": "deep_review_stash_memory",
    "initialize": "",
    "libs": [],
    "name": "stash memory hits",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_build_freeze"]],
    "x": 850,
    "y": 120,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "const target = msg.review.target;\nmsg.payload = {\n  taskType: 'freeform',\n  title: 'Deep review: freeze scope',\n  tags: ['deep-review', 'deep-review:freeze', msg.review.workflow],\n  correlationId: msg.correlationId,\n  input: {\n    brief: [\n      'Freeze the review scope for a deep code review workflow.',\n      '',\n      'Target JSON:',\n      JSON.stringify(target, null, 2),\n      '',\n      'Create an immutable review bundle. Always return a compact inline freeform artifact, and when artifact upload tools are available, upload the patch and file list as task artifacts before submitting the accepted output.',\n      '',\n      'Task artifact CIDs are the durable contract for downstream agents. Local files are only staging inputs for upload; never return a local filesystem path as a bundle reference.',\n      '',\n      'Before calling moltnet_upload_task_artifact for a workspace file, write the file, stat the exact guest path you will pass to the upload tool, and only then upload it. Never call artifact upload with a guessed path such as review.patch, an absolute host/worktree path, a URI-encoded session path, or any path that was not verified inside the guest workspace.',\n      '',\n      'If patch upload fails or artifact tools are unavailable, set patchArtifactCid and diffArtifactCid to null and explain the fallback in notes. Do not put local paths in patchArtifactCid, diffArtifactCid, or notes.',\n      '',\n      'The bundle should include: target metadata, base/head refs or PR number, changed files, diff stats, task artifact CIDs for uploaded patch/file-list content, and enough precise instructions for downstream agents to fetch the same diff if no CID is available.',\n      '',\n      'Return a freeform artifact with kind \"json\" and title \"review-bundle\". The artifact body must be JSON with fields: target, changedFiles, stats, diffArtifactCid, patchArtifactCid, notes, memoryEntryIds.',\n      '',\n      'If the submit tool requires a verification block, every verification.results[].kind must be one of: gate, assertion, rubric, sideEffect. For a submit-tool-call success criterion, report it as kind \"gate\"; never use \"submit-tool-call\" as a verification result kind.'\n    ].join('\\n'),\n    expectedOutput: 'Summary plus artifact kind=json title=review-bundle. Use task artifact CIDs, or null plus notes when upload is unavailable; never use local paths as durable bundle references.',\n    constraints: [\n      'Do not review findings in this task.',\n      'Do not modify code.',\n      'If the target cannot be resolved, explain the blocker in the output.',\n      'Do not return host, worktree, session, or guest-local filesystem paths as artifact references.',\n      'When self-verifying a submit-tool-call gate, use verification result kind \"gate\".'\n    ],\n    context: [\n      { slug: 'review-config', binding: 'context_inline', content: JSON.stringify(msg.review, null, 2) },\n      { slug: 'memory-hits', binding: 'context_inline', content: JSON.stringify(msg.reviewMemory || [], null, 2) }\n    ],\n    execution: { workspace: 'dedicated_worktree' }\n  }\n};\nreturn msg;",
    "id": "deep_review_build_freeze",
    "initialize": "",
    "libs": [],
    "name": "build FREEZE task",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_builder_freeze"]],
    "x": 130,
    "y": 260,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "generateCorrelationId": true,
    "id": "deep_review_create_freeze",
    "maxAttempts": 2,
    "name": "FREEZE",
    "runtimeProfile": "deep_review_profile_freeze",
    "type": "moltnet-tasks-create",
    "wires": [["deep_review_wait_freeze"]],
    "x": 570,
    "y": 260,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "id": "deep_review_wait_freeze",
    "kinds": "",
    "name": "wait FREEZE",
    "pollIntervalSec": 2.5,
    "tail": true,
    "timeoutSec": 7200,
    "type": "moltnet-task-wait",
    "wires": [["1d29dc178889e4a5"], ["deep_review_gate_freeze"]],
    "x": 800,
    "y": 260,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "msg.freezeSnapshot = msg.payload;\nreturn msg;",
    "id": "deep_review_stash_freeze_snapshot",
    "initialize": "",
    "libs": [],
    "name": "stash FREEZE snapshot",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_read_freeze"]],
    "x": 1260,
    "y": 260,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "allowMsgTeamOverride": false,
    "cursor": "",
    "id": "deep_review_list_freeze_artifacts",
    "limit": 20,
    "name": "list FREEZE artifacts",
    "taskId": "",
    "teamId": "",
    "type": "moltnet-task-artifacts-list",
    "wires": [["deep_review_select_bundle_artifact"]],
    "x": 1120,
    "y": 340,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "const artifacts = Array.isArray(msg.payload)\n  ? msg.payload\n  : Array.isArray(msg.artifacts?.page?.artifacts)\n    ? msg.artifacts.page.artifacts\n    : [];\nconst preferred = artifacts.find((artifact) =>\n  artifact.title === 'review-bundle' ||\n  artifact.title === 'review-bundle.json' ||\n  artifact.title === 'review.patch' ||\n  artifact.title === 'patch.diff' ||\n  artifact.kind === 'review-bundle' ||\n  artifact.kind === 'review-patch'\n);\nif (!preferred) {\n  node.status({ fill: 'yellow', shape: 'ring', text: `no bundle artifact (${artifacts.length})` });\n  return null;\n}\nmsg.payload = { artifact: preferred, cid: preferred.cid };\nmsg.cid = preferred.cid;\nmsg.attemptN = preferred.attemptN;\nmsg.reviewBundleArtifact = preferred;\nreturn msg;",
    "id": "deep_review_select_bundle_artifact",
    "initialize": "",
    "libs": [],
    "name": "select bundle artifact",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_download_bundle_artifact"]],
    "x": 1360,
    "y": 340,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "allowMsgTeamOverride": false,
    "attemptN": "",
    "cid": "",
    "id": "deep_review_download_bundle_artifact",
    "maxBytes": 26214400,
    "name": "download bundle artifact",
    "taskId": "",
    "teamId": "",
    "type": "moltnet-task-artifact-download",
    "wires": [["deep_review_debug_bundle_artifact"]],
    "x": 1610,
    "y": 340,
    "z": "deep_review_tab"
  },
  {
    "artifactKind": "json",
    "artifactTitle": "review-bundle",
    "id": "deep_review_read_freeze",
    "name": "read bundle",
    "role": "context",
    "source": "payload",
    "type": "moltnet-task-reader",
    "wires": [["deep_review_stash_bundle"]],
    "x": 1490,
    "y": 260,
    "z": "deep_review_tab"
  },
  {
    "active": true,
    "complete": "artifact",
    "console": false,
    "id": "deep_review_debug_bundle_artifact",
    "name": "downloaded review bundle",
    "statusType": "auto",
    "statusVal": "",
    "targetType": "msg",
    "tosidebar": true,
    "tostatus": false,
    "type": "debug",
    "wires": [],
    "x": 1870,
    "y": 340,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "const key = 'deepReview:' + msg.correlationId;\nconst state = flow.get(key) || {};\nmsg.reviewBundle = msg.result?.artifactBody || msg.payload || {};\nmsg.reviewBundleRef = msg.result?.artifactRef || msg.result?.outputRef || null;\nmsg.review.freezeTaskId = msg.freezeSnapshot?.taskId || msg.result?.outputRef?.taskId || null;\nmsg.review.freezeAttemptN = msg.freezeSnapshot?.acceptedAttemptN || msg.freezeSnapshot?.attempt?.attemptN || null;\nmsg.taskId = msg.review.freezeTaskId;\nmsg.attemptN = msg.review.freezeAttemptN;\nstate.correlationId = msg.correlationId;\nstate.review = msg.review;\nstate.reviewBundle = msg.reviewBundle;\nstate.reviewBundleRef = msg.reviewBundleRef;\nstate.freezeSnapshot = msg.freezeSnapshot || null;\nstate.tasks = state.tasks || {};\nstate.tasks.freeze = { taskId: msg.review.freezeTaskId, attemptN: msg.review.freezeAttemptN };\nstate.specialistResults = state.specialistResults || [];\nflow.set(key, state);\nmsg.reviewState = state;\nreturn msg;",
    "id": "deep_review_stash_bundle",
    "initialize": "",
    "libs": [],
    "name": "stash bundle ref/body",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [
      ["deep_review_bundle_ready_link_out", "deep_review_list_freeze_artifacts"]
    ],
    "x": 1720,
    "y": 260,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "msg.payload = {\n  taskType: 'freeform',\n  title: 'Deep review: preflight',\n  tags: ['deep-review', 'deep-review:preflight', msg.review.workflow],\n  correlationId: msg.correlationId,\n  input: {\n    brief: [\n      'Run the design preflight for this deep review.',\n      '',\n      'Decide whether the approach is sound before line-level review.',\n      'Return a freeform artifact with kind \"json\" and title \"preflight\".',\n      '',\n      'The artifact body must be JSON:',\n      '{ \"verdict\": \"PROCEED|PIVOT\", \"summary\": \"...\", \"questions\": [], \"pivotSize\": \"small|medium|large|null\", \"recommendedNextStep\": \"...\" }',\n      '',\n      'Use PROCEED when line-level specialist review should continue, even if the scope is large. Use PIVOT only when the approach is materially wrong, not when you merely prefer another implementation.',\n      '',\n      'If the submit tool requires a verification block, every verification.results[].kind must be one of: gate, assertion, rubric, sideEffect. For a submit-tool-call success criterion, report it as kind \"gate\"; never use \"submit-tool-call\" as a verification result kind.'\n    ].join('\\n'),\n    expectedOutput: 'Summary plus artifact kind=json title=preflight with verdict PROCEED or PIVOT.',\n    constraints: ['Do not produce line-level findings.', 'Do not modify code.', 'Choose PROCEED or PIVOT.', 'When self-verifying a submit-tool-call gate, use verification result kind \"gate\".'],\n    context: [\n      { slug: 'review-config', binding: 'context_inline', content: JSON.stringify(msg.review, null, 2) },\n      { slug: 'review-bundle', binding: 'context_inline', content: JSON.stringify(msg.reviewBundle, null, 2) },\n      { slug: 'review-bundle-ref', binding: 'context_inline', content: JSON.stringify(msg.reviewBundleRef, null, 2) }\n    ],\n    execution: { workspace: 'shared_mount' }\n  }\n};\nreturn msg;",
    "id": "deep_review_build_preflight",
    "initialize": "",
    "libs": [],
    "name": "build PREFLIGHT task",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_builder_preflight"]],
    "x": 130,
    "y": 500,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "generateCorrelationId": false,
    "id": "deep_review_create_preflight",
    "maxAttempts": 2,
    "name": "PREFLIGHT",
    "runtimeProfile": "deep_review_profile_preflight",
    "type": "moltnet-tasks-create",
    "wires": [["deep_review_wait_preflight"]],
    "x": 610,
    "y": 500,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "id": "deep_review_wait_preflight",
    "kinds": "",
    "name": "wait PREFLIGHT",
    "pollIntervalSec": 2.5,
    "tail": true,
    "timeoutSec": 7200,
    "type": "moltnet-task-wait",
    "wires": [["deep_review_tail_link_out"], ["deep_review_gate_preflight"]],
    "x": 850,
    "y": 500,
    "z": "deep_review_tab"
  },
  {
    "artifactKind": "json",
    "artifactTitle": "preflight",
    "id": "deep_review_read_preflight",
    "name": "read preflight",
    "role": "context",
    "source": "payload",
    "type": "moltnet-task-reader",
    "wires": [["deep_review_stash_preflight"]],
    "x": 1300,
    "y": 500,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "const key = 'deepReview:' + msg.correlationId;\nconst state = flow.get(key) || {};\nmsg.preflight = msg.result?.artifactBody || msg.payload || {};\nmsg.preflight.verdict = String(msg.preflight.verdict || 'PROCEED').toUpperCase();\nstate.correlationId = msg.correlationId;\nstate.review = state.review || msg.review;\nstate.reviewBundle = state.reviewBundle || msg.reviewBundle;\nstate.reviewBundleRef = state.reviewBundleRef || msg.reviewBundleRef;\nstate.preflight = msg.preflight;\nstate.preflightRef = msg.result?.artifactRef || msg.result?.outputRef || null;\nstate.tasks = state.tasks || {};\nstate.tasks.preflight = { taskId: msg.result?.outputRef?.taskId || msg.payload?.taskId || null };\nflow.set(key, state);\nmsg.reviewState = state;\nreturn msg;",
    "id": "deep_review_stash_preflight",
    "initialize": "",
    "libs": [],
    "name": "stash preflight",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_switch_preflight"]],
    "x": 1520,
    "y": 500,
    "z": "deep_review_tab"
  },
  {
    "checkall": "true",
    "id": "deep_review_switch_preflight",
    "name": "preflight verdict",
    "outputs": 3,
    "property": "preflight.verdict",
    "propertyType": "msg",
    "repair": false,
    "rules": [
      {
        "t": "eq",
        "v": "PIVOT",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "PROCEED",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "type": "switch",
    "wires": [
      ["deep_review_build_pivot_publish"],
      ["deep_review_dimensions_payload"],
      ["deep_review_dimensions_payload"]
    ],
    "x": 1740,
    "y": 500,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "msg.payload = {\n  taskType: 'freeform',\n  title: 'Deep review: publish pivot report',\n  tags: ['deep-review', 'deep-review:pivot', msg.review.workflow],\n  correlationId: msg.correlationId,\n  input: {\n    brief: 'Prepare the preflight PIVOT result as a final design review artifact. Do not add line-level findings. If publishPolicy is not none and required credentials/tools are available, publish according to policy; otherwise only return the artifact. If the submit tool requires verification, use verification result kind \"gate\" for any submit-tool-call success criterion; never use \"submit-tool-call\" as verification.results[].kind.',\n    expectedOutput: 'Summary plus artifact kind=markdown title=design-review.',\n    constraints: ['When self-verifying a submit-tool-call gate, use verification result kind \"gate\".'],\n    context: [\n      { slug: 'review-config', binding: 'context_inline', content: JSON.stringify(msg.review, null, 2) },\n      { slug: 'review-bundle', binding: 'context_inline', content: JSON.stringify(msg.reviewBundle, null, 2) },\n      { slug: 'preflight', binding: 'context_inline', content: JSON.stringify(msg.preflight, null, 2) }\n    ],\n    execution: { workspace: 'none' }\n  }\n};\nreturn msg;",
    "id": "deep_review_build_pivot_publish",
    "initialize": "",
    "libs": [],
    "name": "build PIVOT publish task",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_builder_pivot_publish"]],
    "x": 130,
    "y": 640,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "generateCorrelationId": false,
    "id": "deep_review_create_pivot_publish",
    "maxAttempts": 2,
    "name": "PUBLISH PIVOT",
    "runtimeProfile": "deep_review_profile_aggregate",
    "type": "moltnet-tasks-create",
    "wires": [["deep_review_wait_pivot_publish"]],
    "x": 620,
    "y": 640,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "id": "deep_review_wait_pivot_publish",
    "kinds": "",
    "name": "wait PIVOT",
    "pollIntervalSec": 2.5,
    "tail": true,
    "timeoutSec": 7200,
    "type": "moltnet-task-wait",
    "wires": [["d673ff9b232453fe"], ["deep_review_gate_pivot_publish"]],
    "x": 870,
    "y": 640,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "const key = 'deepReview:' + msg.correlationId;\nconst state = flow.get(key) || {};\nstate.correlationId = msg.correlationId;\nstate.review = state.review || msg.review;\nstate.reviewBundle = state.reviewBundle || msg.reviewBundle;\nstate.reviewBundleRef = state.reviewBundleRef || msg.reviewBundleRef;\nstate.preflight = state.preflight || msg.preflight;\nstate.dimensions = [...((state.review || msg.review).dimensions || [])];\nstate.pendingDimensions = [];\nstate.expectedSpecialists = state.dimensions.length;\nstate.completedSpecialists = 0;\nstate.aggregateStarted = false;\nstate.specialistResults = [];\nstate.tasks = state.tasks || {};\nstate.tasks.specialists = {};\nflow.set(key, state);\nmsg.reviewState = state;\nmsg.pendingDimensions = [];\nmsg.specialistResults = state.specialistResults;\nif (state.dimensions.length === 0) {\n  node.status({ fill: 'yellow', shape: 'ring', text: 'no dimensions' });\n  return [null, msg];\n}\nnode.status({ fill: 'blue', shape: 'dot', text: `fan out ${state.dimensions.length}` });\nconst messages = state.dimensions.map((dimension, index) => ({\n  ...msg,\n  reviewDimension: dimension,\n  payload: { dimension, index, total: state.dimensions.length }\n}));\nreturn [messages, null];",
    "id": "deep_review_dimensions_payload",
    "initialize": "",
    "libs": [],
    "name": "init specialist fanout",
    "noerr": 0,
    "outputs": 2,
    "timeout": 0,
    "type": "function",
    "wires": [
      ["deep_review_build_specialist"],
      ["deep_review_build_aggregate"]
    ],
    "x": 130,
    "y": 760,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "const key = 'deepReview:' + msg.correlationId;\nconst state = flow.get(key) || msg.reviewState || {};\nconst expected = Number(state.expectedSpecialists || state.dimensions?.length || 0);\nconst completed = Array.isArray(state.specialistResults) ? state.specialistResults.length : 0;\nstate.completedSpecialists = completed;\nflow.set(key, state);\nmsg.reviewState = state;\nmsg.review = state.review || msg.review;\nmsg.reviewBundle = state.reviewBundle || msg.reviewBundle;\nmsg.reviewBundleRef = state.reviewBundleRef || msg.reviewBundleRef;\nmsg.preflight = state.preflight || msg.preflight;\nmsg.specialistResults = state.specialistResults || [];\nmsg.pendingDimensions = [];\nif (expected === 0) {\n  node.status({ fill: 'yellow', shape: 'ring', text: 'no specialist dimensions' });\n  return msg;\n}\nif (completed < expected) {\n  node.status({ fill: 'blue', shape: 'dot', text: `${completed}/${expected} specialist(s)` });\n  return null;\n}\nif (state.aggregateStarted) {\n  node.status({ fill: 'grey', shape: 'ring', text: 'aggregate already started' });\n  return null;\n}\nstate.aggregateStarted = true;\nstate.aggregateReadyAt = new Date().toISOString();\nflow.set(key, state);\nmsg.reviewState = state;\nnode.status({ fill: 'green', shape: 'dot', text: `${completed}/${expected} complete` });\nreturn msg;",
    "id": "deep_review_next_dimension",
    "initialize": "",
    "libs": [],
    "name": "aggregate when complete",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_build_aggregate"]],
    "x": 130,
    "y": 900,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "const key = 'deepReview:' + msg.correlationId;\nconst state = flow.get(key) || msg.reviewState || {};\nconst dimension = msg.payload.dimension || state.currentDimension;\nmsg.reviewDimension = dimension;\nmsg.review = state.review || msg.review;\nmsg.reviewBundle = state.reviewBundle || msg.reviewBundle;\nmsg.reviewBundleRef = state.reviewBundleRef || msg.reviewBundleRef;\nmsg.preflight = state.preflight || msg.preflight;\nmsg.payload = {\n  taskType: 'freeform',\n  title: 'Deep review: ' + dimension,\n  tags: ['deep-review', 'deep-review:specialist', 'dimension:' + dimension, msg.review.workflow],\n  correlationId: msg.correlationId,\n  input: {\n    brief: [\n      'Run one specialist pass for a deep review workflow.',\n      '',\n      'Dimension: ' + dimension,\n      '',\n      'Use only this lens. Ignore unrelated concerns, formatter/lint noise, and personal preference.',\n      'Read the review bundle and inspect surrounding code as needed. If artifact download tools are available, use the bundle CIDs for the patch/file list. Otherwise use the inline bundle metadata to fetch the same target.',\n      '',\n      'Return a freeform artifact with kind \"json\" and title \"specialist-findings\". The body must be JSON with fields: dimension, findings, clean, coverageNotes.',\n      'Each finding must include: severity, path, line, problem, why, fixDirection.',\n      '',\n      'If the submit tool requires a verification block, every verification.results[].kind must be one of: gate, assertion, rubric, sideEffect. For a submit-tool-call success criterion, report it as kind \"gate\"; never use \"submit-tool-call\" as a verification result kind.'\n    ].join('\\n'),\n    expectedOutput: 'Summary plus artifact kind=json title=specialist-findings.',\n    constraints: ['Do not modify code.', 'Findings only; no broad summary unless clean.', 'When self-verifying a submit-tool-call gate, use verification result kind \"gate\".'],\n    context: [\n      { slug: 'review-config', binding: 'context_inline', content: JSON.stringify(msg.review, null, 2) },\n      { slug: 'review-bundle', binding: 'context_inline', content: JSON.stringify(msg.reviewBundle, null, 2) },\n      { slug: 'review-bundle-ref', binding: 'context_inline', content: JSON.stringify(msg.reviewBundleRef, null, 2) },\n      { slug: 'preflight', binding: 'context_inline', content: JSON.stringify(msg.preflight, null, 2) }\n    ],\n    execution: { workspace: 'shared_mount' }\n  }\n};\nreturn msg;",
    "id": "deep_review_build_specialist",
    "initialize": "",
    "libs": [],
    "name": "build SPECIALIST task",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_builder_specialist"]],
    "x": 370,
    "y": 760,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "generateCorrelationId": false,
    "id": "deep_review_create_specialist",
    "maxAttempts": 2,
    "name": "SPECIALIST",
    "runtimeProfile": "deep_review_profile_specialist",
    "type": "moltnet-tasks-create",
    "wires": [["deep_review_wait_specialist"]],
    "x": 850,
    "y": 760,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "id": "deep_review_wait_specialist",
    "kinds": "",
    "name": "wait SPECIALIST",
    "pollIntervalSec": 2.5,
    "tail": true,
    "timeoutSec": 7200,
    "type": "moltnet-task-wait",
    "wires": [["cceba4a8c3d9aafd"], ["deep_review_gate_specialist"]],
    "x": 1090,
    "y": 760,
    "z": "deep_review_tab"
  },
  {
    "artifactKind": "json",
    "artifactTitle": "specialist-findings",
    "id": "deep_review_read_specialist",
    "name": "read specialist",
    "role": "context",
    "source": "payload",
    "type": "moltnet-task-reader",
    "wires": [["deep_review_pack_specialist"]],
    "x": 1550,
    "y": 760,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "const key = 'deepReview:' + msg.correlationId;\nconst state = flow.get(key) || msg.reviewState || {};\nconst result = {\n  dimension: msg.reviewDimension || msg.payload?.dimension || state.currentDimension,\n  output: msg.payload,\n  artifact: msg.result?.artifact || null,\n  artifactBody: msg.result?.artifactBody || null,\n  artifactRef: msg.result?.artifactRef || null,\n  outputRef: msg.result?.outputRef || null\n};\nstate.specialistResults = Array.isArray(state.specialistResults) ? state.specialistResults : [];\nstate.specialistResults = state.specialistResults.filter((item) => item.dimension !== result.dimension);\nstate.specialistResults.push(result);\nstate.tasks = state.tasks || {};\nstate.tasks.specialists = state.tasks.specialists || {};\nstate.tasks.specialists[result.dimension] = {\n  taskId: result.outputRef?.taskId || msg.payload?.id || null,\n  outputCid: result.outputRef?.outputCid || null,\n  artifactCid: result.artifactRef?.artifactCid || result.artifact?.cid || null\n};\nstate.completedSpecialists = state.specialistResults.length;\nflow.set(key, state);\nmsg.reviewState = state;\nmsg.review = state.review || msg.review;\nmsg.reviewBundle = state.reviewBundle || msg.reviewBundle;\nmsg.reviewBundleRef = state.reviewBundleRef || msg.reviewBundleRef;\nmsg.preflight = state.preflight || msg.preflight;\nmsg.specialistResults = state.specialistResults;\nmsg.pendingDimensions = [];\nmsg.payload = null;\nreturn msg;",
    "id": "deep_review_pack_specialist",
    "initialize": "",
    "libs": [],
    "name": "pack specialist + gate",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_specialist_result_link_out"]],
    "x": 1780,
    "y": 760,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_specialist_error_catch",
    "name": "SPECIALIST errors",
    "scope": [
      "deep_review_builder_specialist",
      "deep_review_create_specialist",
      "deep_review_wait_specialist",
      "deep_review_read_specialist"
    ],
    "type": "catch",
    "uncaught": false,
    "wires": [["deep_review_pack_specialist_error"]],
    "x": 1550,
    "y": 840,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "const key = 'deepReview:' + msg.correlationId;\nconst state = flow.get(key) || msg.reviewState || {};\nconst payload = msg.payload && typeof msg.payload === 'object' ? msg.payload : {};\nconst tags = Array.isArray(payload.tags) ? payload.tags : [];\nconst dimensionTag = tags.find((tag) => typeof tag === 'string' && tag.startsWith('dimension:'));\nconst dimension = msg.reviewDimension || payload.dimension || (typeof dimensionTag === 'string' ? dimensionTag.slice('dimension:'.length) : null);\nif (!dimension) {\n  node.status({ fill: 'red', shape: 'ring', text: 'missing dimension' });\n  return null;\n}\nconst error = msg.error || {};\nconst result = {\n  dimension,\n  status: 'failed',\n  output: null,\n  artifact: null,\n  artifactBody: {\n    dimension,\n    findings: [],\n    clean: false,\n    coverageNotes: 'Specialist task failed before readable findings were available.',\n    failed: true,\n    error: {\n      message: String(error.message || 'specialist lane failed'),\n      source: error.source || null\n    }\n  },\n  artifactRef: null,\n  outputRef: null,\n  error: {\n    message: String(error.message || 'specialist lane failed'),\n    source: error.source || null\n  }\n};\nstate.specialistResults = Array.isArray(state.specialistResults) ? state.specialistResults : [];\nstate.specialistResults = state.specialistResults.filter((item) => item.dimension !== dimension);\nstate.specialistResults.push(result);\nstate.tasks = state.tasks || {};\nstate.tasks.specialists = state.tasks.specialists || {};\nstate.tasks.specialists[dimension] = {\n  status: 'failed',\n  taskId: payload.id || null,\n  error: result.error\n};\nstate.completedSpecialists = state.specialistResults.length;\nflow.set(key, state);\nmsg.reviewState = state;\nmsg.review = state.review || msg.review;\nmsg.reviewBundle = state.reviewBundle || msg.reviewBundle;\nmsg.reviewBundleRef = state.reviewBundleRef || msg.reviewBundleRef;\nmsg.preflight = state.preflight || msg.preflight;\nmsg.specialistResults = state.specialistResults;\nmsg.pendingDimensions = [];\nmsg.payload = null;\nnode.status({ fill: 'yellow', shape: 'ring', text: `${dimension} failed` });\nreturn msg;",
    "id": "deep_review_pack_specialist_error",
    "initialize": "",
    "libs": [],
    "name": "pack specialist failure + gate",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_specialist_result_link_out"]],
    "x": 1800,
    "y": 840,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "const key = 'deepReview:' + msg.correlationId;\nconst state = flow.get(key) || msg.reviewState || {};\nmsg.review = state.review || msg.review;\nmsg.reviewBundle = state.reviewBundle || msg.reviewBundle;\nmsg.preflight = state.preflight || msg.preflight;\nmsg.specialistResults = state.specialistResults || msg.specialistResults || [];\nstate.aggregateRequestedAt = new Date().toISOString();\nflow.set(key, state);\nmsg.reviewState = state;\nmsg.payload = {\n  taskType: 'freeform',\n  title: 'Deep review: aggregate findings',\n  tags: ['deep-review', 'deep-review:aggregate', msg.review.workflow],\n  correlationId: msg.correlationId,\n  input: {\n    brief: [\n      'Aggregate the specialist deep-review results into one final review.',\n      '',\n      'Dedupe findings, keep the highest severity, rank globally, surface themes, and check whether any changed files in the review bundle were not covered.',\n      '',\n      'Some specialist results may have status \"failed\" with an error instead of findings. Treat those as coverage gaps, include them in the final review summary, and do not invent findings for failed dimensions.',\n      '',\n      'Return a freeform artifact with kind \"markdown\" and title \"final-review\". Also include a compact kind \"json\" artifact titled \"review-summary\" with fields: verdict, topRisks, findingCounts, coverage.',\n      '',\n      'If the submit tool requires a verification block, every verification.results[].kind must be one of: gate, assertion, rubric, sideEffect. For a submit-tool-call success criterion, report it as kind \"gate\"; never use \"submit-tool-call\" as a verification result kind.'\n    ].join('\\n'),\n    expectedOutput: 'Summary plus artifacts markdown/final-review and json/review-summary.',\n    constraints: ['Do not modify code.', 'Do not publish externally unless publishPolicy requires a separate publish task.', 'When self-verifying a submit-tool-call gate, use verification result kind \"gate\".'],\n    context: [\n      { slug: 'review-config', binding: 'context_inline', content: JSON.stringify(msg.review, null, 2) },\n      { slug: 'review-bundle', binding: 'context_inline', content: JSON.stringify(msg.reviewBundle, null, 2) },\n      { slug: 'preflight', binding: 'context_inline', content: JSON.stringify(msg.preflight, null, 2) },\n      { slug: 'specialist-results', binding: 'context_inline', content: JSON.stringify(msg.specialistResults, null, 2) },\n      { slug: 'review-run-state', binding: 'context_inline', content: JSON.stringify({ correlationId: state.correlationId, tasks: state.tasks, dimensions: state.dimensions }, null, 2) }\n    ],\n    execution: { workspace: 'none' }\n  }\n};\nreturn msg;",
    "id": "deep_review_build_aggregate",
    "initialize": "",
    "libs": [],
    "name": "build AGGREGATE task",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_builder_aggregate"]],
    "x": 370,
    "y": 900,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "generateCorrelationId": false,
    "id": "deep_review_create_aggregate",
    "maxAttempts": 2,
    "name": "AGGREGATE",
    "runtimeProfile": "deep_review_profile_aggregate",
    "type": "moltnet-tasks-create",
    "wires": [["deep_review_wait_aggregate"]],
    "x": 850,
    "y": 900,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "id": "deep_review_wait_aggregate",
    "kinds": "",
    "name": "wait AGGREGATE",
    "pollIntervalSec": 2.5,
    "tail": true,
    "timeoutSec": 7200,
    "type": "moltnet-task-wait",
    "wires": [["3ac746883d75229d"], ["deep_review_gate_aggregate"]],
    "x": 1090,
    "y": 900,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_tail_link_out",
    "links": ["deep_review_tail_link_in"],
    "mode": "link",
    "name": "tail events",
    "type": "link out",
    "wires": [],
    "x": 1000,
    "y": 460,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_tail_link_in",
    "links": [
      "deep_review_tail_link_out",
      "1d29dc178889e4a5",
      "3ac746883d75229d",
      "cceba4a8c3d9aafd",
      "d673ff9b232453fe"
    ],
    "name": "tail events",
    "type": "link in",
    "wires": [["deep_review_tail"]],
    "x": 130,
    "y": 1100,
    "z": "deep_review_tab"
  },
  {
    "active": true,
    "complete": "payload",
    "console": false,
    "id": "deep_review_tail",
    "name": "task tail",
    "statusType": "auto",
    "statusVal": "",
    "targetType": "msg",
    "tosidebar": true,
    "tostatus": false,
    "type": "debug",
    "wires": [],
    "x": 300,
    "y": 1100,
    "z": "deep_review_tab"
  },
  {
    "active": true,
    "complete": "payload",
    "console": false,
    "id": "deep_review_done",
    "name": "review done",
    "statusType": "auto",
    "statusVal": "",
    "targetType": "msg",
    "tosidebar": true,
    "tostatus": false,
    "type": "debug",
    "wires": [],
    "x": 310,
    "y": 1200,
    "z": "deep_review_tab"
  },
  {
    "id": "1d29dc178889e4a5",
    "links": ["deep_review_tail_link_in"],
    "mode": "link",
    "name": "tail events",
    "type": "link out",
    "wires": [],
    "x": 940,
    "y": 220,
    "z": "deep_review_tab"
  },
  {
    "id": "3ac746883d75229d",
    "links": ["deep_review_tail_link_in"],
    "mode": "link",
    "name": "tail events",
    "type": "link out",
    "wires": [],
    "x": 1240,
    "y": 860,
    "z": "deep_review_tab"
  },
  {
    "id": "cceba4a8c3d9aafd",
    "links": ["deep_review_tail_link_in"],
    "mode": "link",
    "name": "tail events",
    "type": "link out",
    "wires": [],
    "x": 1240,
    "y": 720,
    "z": "deep_review_tab"
  },
  {
    "id": "d673ff9b232453fe",
    "links": ["deep_review_tail_link_in"],
    "mode": "link",
    "name": "tail events",
    "type": "link out",
    "wires": [],
    "x": 1020,
    "y": 600,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_done_link_in",
    "links": [
      "deep_review_pivot_done_link_out",
      "deep_review_aggregate_done_link_out",
      "deep_review_failure_done_link_out"
    ],
    "name": "review done in",
    "type": "link in",
    "wires": [["deep_review_done"]],
    "x": 130,
    "y": 1200,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_pivot_done_link_out",
    "links": ["deep_review_done_link_in"],
    "mode": "link",
    "name": "review done out",
    "type": "link out",
    "wires": [],
    "x": 1340,
    "y": 640,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_aggregate_done_link_out",
    "links": ["deep_review_done_link_in"],
    "mode": "link",
    "name": "review done out",
    "type": "link out",
    "wires": [],
    "x": 1560,
    "y": 900,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "brief": "",
    "constraints": [],
    "contexts": [],
    "diaryId": "",
    "diaryIdType": "str",
    "expectedOutput": "",
    "id": "deep_review_builder_freeze",
    "name": "build FREEZE body",
    "referencesFrom": "",
    "referencesRole": "context",
    "schemaCid": "",
    "submitOutputGate": false,
    "tags": "",
    "taskType": "freeform",
    "teamId": "",
    "teamIdType": "str",
    "title": "",
    "type": "moltnet-task-builder",
    "wires": [["deep_review_create_freeze"]],
    "workspace": "",
    "x": 350,
    "y": 260,
    "z": "deep_review_tab"
  },
  {
    "checkall": "true",
    "id": "deep_review_gate_freeze",
    "name": "FREEZE accepted?",
    "outputs": 2,
    "property": "payload.accepted",
    "propertyType": "msg",
    "repair": false,
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "type": "switch",
    "wires": [
      ["deep_review_stash_freeze_snapshot"],
      ["deep_review_freeze_failure_link_out"]
    ],
    "x": 1030,
    "y": 260,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "brief": "",
    "constraints": [],
    "contexts": [],
    "diaryId": "",
    "diaryIdType": "str",
    "expectedOutput": "",
    "id": "deep_review_builder_preflight",
    "name": "build PREFLIGHT body",
    "referencesFrom": "",
    "referencesRole": "context",
    "schemaCid": "",
    "submitOutputGate": false,
    "tags": "",
    "taskType": "freeform",
    "teamId": "",
    "teamIdType": "str",
    "title": "",
    "type": "moltnet-task-builder",
    "wires": [["deep_review_create_preflight"]],
    "workspace": "",
    "x": 370,
    "y": 500,
    "z": "deep_review_tab"
  },
  {
    "checkall": "true",
    "id": "deep_review_gate_preflight",
    "name": "PREFLIGHT accepted?",
    "outputs": 2,
    "property": "payload.accepted",
    "propertyType": "msg",
    "repair": false,
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "type": "switch",
    "wires": [
      ["deep_review_read_preflight"],
      ["deep_review_preflight_failure_link_out"]
    ],
    "x": 1080,
    "y": 500,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "brief": "",
    "constraints": [],
    "contexts": [],
    "diaryId": "",
    "diaryIdType": "str",
    "expectedOutput": "",
    "id": "deep_review_builder_pivot_publish",
    "name": "build PIVOT body",
    "referencesFrom": "",
    "referencesRole": "context",
    "schemaCid": "",
    "submitOutputGate": false,
    "tags": "",
    "taskType": "freeform",
    "teamId": "",
    "teamIdType": "str",
    "title": "",
    "type": "moltnet-task-builder",
    "wires": [["deep_review_create_pivot_publish"]],
    "workspace": "",
    "x": 370,
    "y": 640,
    "z": "deep_review_tab"
  },
  {
    "checkall": "true",
    "id": "deep_review_gate_pivot_publish",
    "name": "PIVOT accepted?",
    "outputs": 2,
    "property": "payload.accepted",
    "propertyType": "msg",
    "repair": false,
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "type": "switch",
    "wires": [
      ["deep_review_pivot_done_link_out"],
      ["deep_review_pivot_failure_link_out"]
    ],
    "x": 1110,
    "y": 640,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "brief": "",
    "constraints": [],
    "contexts": [],
    "diaryId": "",
    "diaryIdType": "str",
    "expectedOutput": "",
    "id": "deep_review_builder_specialist",
    "name": "build SPECIALIST body",
    "referencesFrom": "",
    "referencesRole": "context",
    "schemaCid": "",
    "submitOutputGate": false,
    "tags": "",
    "taskType": "freeform",
    "teamId": "",
    "teamIdType": "str",
    "title": "",
    "type": "moltnet-task-builder",
    "wires": [["deep_review_create_specialist"]],
    "workspace": "",
    "x": 610,
    "y": 760,
    "z": "deep_review_tab"
  },
  {
    "checkall": "true",
    "id": "deep_review_gate_specialist",
    "name": "SPECIALIST accepted?",
    "outputs": 2,
    "property": "payload.accepted",
    "propertyType": "msg",
    "repair": false,
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "type": "switch",
    "wires": [
      ["deep_review_read_specialist"],
      ["deep_review_pack_specialist_error"]
    ],
    "x": 1330,
    "y": 760,
    "z": "deep_review_tab"
  },
  {
    "agent": "deep_review_agent_cfg",
    "brief": "",
    "constraints": [],
    "contexts": [],
    "diaryId": "",
    "diaryIdType": "str",
    "expectedOutput": "",
    "id": "deep_review_builder_aggregate",
    "name": "build AGGREGATE body",
    "referencesFrom": "",
    "referencesRole": "context",
    "schemaCid": "",
    "submitOutputGate": false,
    "tags": "",
    "taskType": "freeform",
    "teamId": "",
    "teamIdType": "str",
    "title": "",
    "type": "moltnet-task-builder",
    "wires": [["deep_review_create_aggregate"]],
    "workspace": "",
    "x": 610,
    "y": 900,
    "z": "deep_review_tab"
  },
  {
    "checkall": "true",
    "id": "deep_review_gate_aggregate",
    "name": "AGGREGATE accepted?",
    "outputs": 2,
    "property": "payload.accepted",
    "propertyType": "msg",
    "repair": false,
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "type": "switch",
    "wires": [
      ["deep_review_aggregate_done_link_out"],
      ["deep_review_aggregate_failure_link_out"]
    ],
    "x": 1330,
    "y": 900,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "const key = 'deepReview:' + (msg.correlationId || 'unknown');\nconst state = flow.get(key) || msg.reviewState || {};\nconst snapshot = msg.payload && typeof msg.payload === 'object' ? msg.payload : {};\nconst task = snapshot.task || {};\nconst attempt = snapshot.attempt || {};\nconst stage = msg.reviewStage || task.title || task.taskType || msg.error?.source?.name || 'deep-review';\nconst error = snapshot.error || attempt.error || msg.error || { message: stage + ' failed' };\nstate.correlationId = msg.correlationId || state.correlationId || null;\nstate.review = state.review || msg.review || null;\nstate.failed = true;\nstate.failure = {\n  stage,\n  taskId: snapshot.taskId || task.id || msg.taskId || null,\n  attemptN: snapshot.acceptedAttemptN || attempt.attemptN || msg.attemptN || null,\n  error: {\n    message: String(error.message || error.detail || error || 'deep review stage failed'),\n    source: error.source || null\n  },\n  failedAt: new Date().toISOString()\n};\nflow.set(key, state);\nmsg.reviewState = state;\nmsg.payload = {\n  workflowStatus: 'failed',\n  correlationId: state.correlationId,\n  stage,\n  failure: state.failure\n};\nnode.status({ fill: 'red', shape: 'ring', text: stage + ' failed' });\nreturn msg;",
    "id": "deep_review_pack_terminal_failure",
    "initialize": "",
    "libs": [],
    "name": "pack terminal failure",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_failure_done_link_out"]],
    "x": 1330,
    "y": 1020,
    "z": "deep_review_tab"
  },
  {
    "finalize": "",
    "func": "const key = 'deepReview:' + (msg.correlationId || 'unknown');\nconst state = flow.get(key) || msg.reviewState || {};\nconst snapshot = msg.payload && typeof msg.payload === 'object' ? msg.payload : {};\nconst task = snapshot.task || {};\nconst attempt = snapshot.attempt || {};\nconst stage = msg.reviewStage || task.title || task.taskType || msg.error?.source?.name || 'deep-review';\nconst error = snapshot.error || attempt.error || msg.error || { message: stage + ' failed' };\nstate.correlationId = msg.correlationId || state.correlationId || null;\nstate.review = state.review || msg.review || null;\nstate.failed = true;\nstate.failure = {\n  stage,\n  taskId: snapshot.taskId || task.id || msg.taskId || null,\n  attemptN: snapshot.acceptedAttemptN || attempt.attemptN || msg.attemptN || null,\n  error: {\n    message: String(error.message || error.detail || error || 'deep review stage failed'),\n    source: error.source || null\n  },\n  failedAt: new Date().toISOString()\n};\nflow.set(key, state);\nmsg.reviewState = state;\nmsg.payload = {\n  workflowStatus: 'failed',\n  correlationId: state.correlationId,\n  stage,\n  failure: state.failure\n};\nnode.status({ fill: 'red', shape: 'ring', text: stage + ' failed' });\nreturn msg;",
    "id": "deep_review_pack_terminal_error",
    "initialize": "",
    "libs": [],
    "name": "pack node error",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [["deep_review_failure_done_link_out"]],
    "x": 1330,
    "y": 1100,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_failure_done_link_out",
    "links": ["deep_review_done_link_in"],
    "mode": "link",
    "name": "review done out",
    "type": "link out",
    "wires": [],
    "x": 1560,
    "y": 1060,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_task_error_catch",
    "name": "deep review task errors",
    "scope": [
      "deep_review_builder_freeze",
      "deep_review_create_freeze",
      "deep_review_wait_freeze",
      "deep_review_read_freeze",
      "deep_review_builder_preflight",
      "deep_review_create_preflight",
      "deep_review_wait_preflight",
      "deep_review_read_preflight",
      "deep_review_builder_pivot_publish",
      "deep_review_create_pivot_publish",
      "deep_review_wait_pivot_publish",
      "deep_review_builder_aggregate",
      "deep_review_create_aggregate",
      "deep_review_wait_aggregate"
    ],
    "type": "catch",
    "uncaught": false,
    "wires": [["deep_review_pack_terminal_error"]],
    "x": 1110,
    "y": 1100,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_task_status",
    "name": "",
    "scope": [
      "deep_review_builder_freeze",
      "deep_review_create_freeze",
      "deep_review_wait_freeze",
      "deep_review_read_freeze",
      "deep_review_builder_preflight",
      "deep_review_create_preflight",
      "deep_review_wait_preflight",
      "deep_review_read_preflight",
      "deep_review_builder_pivot_publish",
      "deep_review_create_pivot_publish",
      "deep_review_wait_pivot_publish",
      "deep_review_builder_specialist",
      "deep_review_create_specialist",
      "deep_review_wait_specialist",
      "deep_review_read_specialist",
      "deep_review_builder_aggregate",
      "deep_review_create_aggregate",
      "deep_review_wait_aggregate"
    ],
    "type": "status",
    "wires": [[]],
    "x": 1100,
    "y": 1160,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_lane_setup",
    "info": "Edit the seed node for the PR, branch, or local diff. Optional memory search enriches the review context before tasks start.",
    "name": "1. Configure target and memory",
    "type": "comment",
    "wires": [],
    "x": 250,
    "y": 80,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_lane_freeze",
    "info": "Creates the immutable review bundle. Patch and file-list handoff should use task artifact CIDs, not local paths. The accepted gate prevents failed attempts from being read as review input.",
    "name": "2. FREEZE scope bundle",
    "type": "comment",
    "wires": [],
    "x": 260,
    "y": 210,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_lane_bundle_artifacts",
    "info": "Optional side lane: list/download any persistent bundle artifacts uploaded by the FREEZE task.",
    "name": "Review bundle artifacts",
    "type": "comment",
    "wires": [],
    "x": 1210,
    "y": 305,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_lane_preflight",
    "info": "Reads the preflight JSON artifact and branches to PIVOT or specialist review.",
    "name": "3. PREFLIGHT decision",
    "type": "comment",
    "wires": [],
    "x": 260,
    "y": 450,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_lane_pivot",
    "info": "Only runs when preflight returns PIVOT. It produces the final design-review artifact.",
    "name": "PIVOT publish lane",
    "type": "comment",
    "wires": [],
    "x": 250,
    "y": 590,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_lane_specialists",
    "info": "One task per review dimension. Specialist failures are packed as coverage gaps and still count toward fan-in.",
    "name": "4. Specialist fan-out",
    "type": "comment",
    "wires": [],
    "x": 260,
    "y": 710,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_lane_aggregate",
    "info": "Starts once every specialist dimension has either findings or a packed failure record.",
    "name": "5. Aggregate final review",
    "type": "comment",
    "wires": [],
    "x": 260,
    "y": 850,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_lane_failure",
    "info": "Terminal stage failures and node errors converge here, then route to the same done output as successful endings.",
    "name": "Failure handling",
    "type": "comment",
    "wires": [],
    "x": 1220,
    "y": 970,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_lane_outputs",
    "info": "Tail events and final workflow results are collected through links to keep the main lanes readable.",
    "name": "Tail and final outputs",
    "type": "comment",
    "wires": [],
    "x": 250,
    "y": 1040,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_bundle_ready_link_out",
    "links": ["deep_review_bundle_ready_link_in"],
    "mode": "link",
    "name": "bundle ready",
    "type": "link out",
    "wires": [],
    "x": 1880,
    "y": 260,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_bundle_ready_link_in",
    "links": ["deep_review_bundle_ready_link_out"],
    "name": "bundle ready",
    "type": "link in",
    "wires": [["deep_review_build_preflight"]],
    "x": 80,
    "y": 500,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_specialist_result_link_out",
    "links": ["deep_review_specialist_result_link_in"],
    "mode": "link",
    "name": "specialist result",
    "type": "link out",
    "wires": [],
    "x": 2000,
    "y": 800,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_specialist_result_link_in",
    "links": ["deep_review_specialist_result_link_out"],
    "name": "specialist result",
    "type": "link in",
    "wires": [["deep_review_next_dimension"]],
    "x": 80,
    "y": 900,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_freeze_failure_link_out",
    "links": ["deep_review_terminal_failure_link_in"],
    "mode": "link",
    "name": "terminal failure",
    "type": "link out",
    "wires": [],
    "x": 1180,
    "y": 300,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_preflight_failure_link_out",
    "links": ["deep_review_terminal_failure_link_in"],
    "mode": "link",
    "name": "terminal failure",
    "type": "link out",
    "wires": [],
    "x": 1230,
    "y": 540,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_pivot_failure_link_out",
    "links": ["deep_review_terminal_failure_link_in"],
    "mode": "link",
    "name": "terminal failure",
    "type": "link out",
    "wires": [],
    "x": 1280,
    "y": 680,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_aggregate_failure_link_out",
    "links": ["deep_review_terminal_failure_link_in"],
    "mode": "link",
    "name": "terminal failure",
    "type": "link out",
    "wires": [],
    "x": 1490,
    "y": 940,
    "z": "deep_review_tab"
  },
  {
    "id": "deep_review_terminal_failure_link_in",
    "links": [
      "deep_review_freeze_failure_link_out",
      "deep_review_preflight_failure_link_out",
      "deep_review_pivot_failure_link_out",
      "deep_review_aggregate_failure_link_out"
    ],
    "name": "terminal failure",
    "type": "link in",
    "wires": [["deep_review_pack_terminal_failure"]],
    "x": 1110,
    "y": 1020,
    "z": "deep_review_tab"
  }
]
