libs/node-red-contrib-core/examples/issue-lifecycle.flow.json
[
  {
    "disabled": false,
    "id": "moltnet_lifecycle_tab",
    "info": "Reproduces the apps/issue-lifecycle orchestration shape in Node-RED.\n\nEach step is: tasks:create → task:wait → switch(phase/decision) → next step.\nDurability is coarse (re-run from top with idempotent steps), inherited from\nthe MoltNet tasks tier — Node-RED is the authoring/cockpit surface, not the\ndurable engine (see issue #1422).\n\ntask:wait has two outputs: output 1 (tail) streams live task messages to a\ndebug node; output 2 (result) carries the terminal snapshot the switch nodes\nbranch on. A failed task is routed to the 'interpret failure' debug, the hook\nwhere an agent/human decides retry vs. escalate — exactly what the\nissue-lifecycle supervisor does.\n\nReplace the moltnet-agent clientId/secret and the inject's issue payload, then\nwire real task bodies into each tasks:create (this example uses minimal bodies).",
    "label": "MoltNet Issue Lifecycle (example)",
    "type": "tab"
  },
  {
    "apiUrl": "https://api.themolt.net",
    "clientId": "",
    "diaryId": "",
    "id": "moltnet_agent_cfg",
    "name": "my-agent",
    "teamId": "",
    "type": "moltnet-agent"
  },
  {
    "id": "inject_issue",
    "name": "start: issue #N",
    "once": false,
    "props": [
      {
        "p": "payload",
        "v": "{\"taskType\":\"fulfill_brief\",\"title\":\"Triage issue #1\",\"input\":{\"brief\":\"Triage issue #1\"}}",
        "vt": "json"
      }
    ],
    "topic": "",
    "type": "inject",
    "wires": [["create_triage"]],
    "x": 150,
    "y": 80,
    "z": "moltnet_lifecycle_tab"
  },
  {
    "agent": "moltnet_agent_cfg",
    "generateCorrelationId": true,
    "id": "create_triage",
    "name": "triage",
    "taskType": "fulfill_brief",
    "type": "moltnet-tasks-create",
    "wires": [["wait_triage"]],
    "x": 350,
    "y": 80,
    "z": "moltnet_lifecycle_tab"
  },
  {
    "agent": "moltnet_agent_cfg",
    "id": "wait_triage",
    "kinds": "",
    "name": "wait triage",
    "pollIntervalSec": 5,
    "tail": true,
    "taskId": "",
    "timeoutSec": 1800,
    "type": "moltnet-task-wait",
    "wires": [["debug_tail"], ["switch_triage"]],
    "x": 540,
    "y": 80,
    "z": "moltnet_lifecycle_tab"
  },
  {
    "checkall": "true",
    "id": "switch_triage",
    "name": "accepted & decision=plan?",
    "outputs": 2,
    "property": "payload.state.decision",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "plan", "vt": "str" }, { "t": "else" }],
    "type": "switch",
    "wires": [["create_plan"], ["interpret_failure"]],
    "x": 780,
    "y": 80,
    "z": "moltnet_lifecycle_tab"
  },
  {
    "agent": "moltnet_agent_cfg",
    "id": "create_plan",
    "name": "plan",
    "taskType": "fulfill_brief",
    "type": "moltnet-tasks-create",
    "wires": [["wait_plan"]],
    "x": 350,
    "y": 180,
    "z": "moltnet_lifecycle_tab"
  },
  {
    "agent": "moltnet_agent_cfg",
    "id": "wait_plan",
    "kinds": "",
    "name": "wait plan",
    "pollIntervalSec": 5,
    "tail": true,
    "taskId": "",
    "timeoutSec": 1800,
    "type": "moltnet-task-wait",
    "wires": [["debug_tail"], ["switch_plan"]],
    "x": 540,
    "y": 180,
    "z": "moltnet_lifecycle_tab"
  },
  {
    "checkall": "true",
    "id": "switch_plan",
    "name": "plan accepted?",
    "outputs": 2,
    "property": "payload.accepted",
    "propertyType": "msg",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "type": "switch",
    "wires": [["create_implement"], ["interpret_failure"]],
    "x": 760,
    "y": 180,
    "z": "moltnet_lifecycle_tab"
  },
  {
    "agent": "moltnet_agent_cfg",
    "id": "create_implement",
    "name": "implement",
    "taskType": "fulfill_brief",
    "type": "moltnet-tasks-create",
    "wires": [["wait_implement"]],
    "x": 360,
    "y": 280,
    "z": "moltnet_lifecycle_tab"
  },
  {
    "agent": "moltnet_agent_cfg",
    "id": "wait_implement",
    "kinds": "",
    "name": "wait implement",
    "pollIntervalSec": 10,
    "tail": true,
    "taskId": "",
    "timeoutSec": 3600,
    "type": "moltnet-task-wait",
    "wires": [["debug_tail"], ["switch_implement"]],
    "x": 560,
    "y": 280,
    "z": "moltnet_lifecycle_tab"
  },
  {
    "checkall": "true",
    "id": "switch_implement",
    "name": "PR opened? (phase=pr_open)",
    "outputs": 2,
    "property": "payload.state.phase",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "pr_open", "vt": "str" }, { "t": "else" }],
    "type": "switch",
    "wires": [["debug_done"], ["interpret_failure"]],
    "x": 790,
    "y": 280,
    "z": "moltnet_lifecycle_tab"
  },
  {
    "active": true,
    "complete": "payload",
    "console": false,
    "id": "debug_tail",
    "name": "tail (live messages)",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 780,
    "y": 400,
    "z": "moltnet_lifecycle_tab"
  },
  {
    "active": true,
    "complete": "payload",
    "console": false,
    "id": "interpret_failure",
    "name": "interpret failure (agent/human)",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 1080,
    "y": 180,
    "z": "moltnet_lifecycle_tab"
  },
  {
    "active": true,
    "complete": "payload",
    "console": false,
    "id": "debug_done",
    "name": "done (PR open)",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 1040,
    "y": 280,
    "z": "moltnet_lifecycle_tab"
  }
]
