libs/node-red-contrib-core/examples/marketing-content.flow.json
[
  {
    "disabled": false,
    "id": "marketing_tab",
    "info": "Marketing content pipeline: a flow of small MoltNet tasks that build advertising drafts from real project signal — never auto-posting.\n\nHARVEST (analyze recent features from docs + GitHub code + diary entries) → ANGLE (pick one angle, deduped against past postings in the marketing diary) → WRITE ⇄ REVIEW ⇄ JUDGE (a recursive quality loop that re-drafts until the judge passes or a revision cap is hit) → human approval gate.\n\nEach agent step is the four-node MoltNet idiom `task: build → tasks: create → task: wait → task: read`. Each `tasks: create` is pinned to a `moltnet-runtime-profile` (skill + model + task input) via a routing gate, and one daemon per profile claims that stage's work.\n\nNothing here posts to LinkedIn/Reddit or the landing blog. The terminal nodes surface an approved draft (inline body + a remote artifact ref) for a human to publish. See the comment nodes for profiles, scheduling, remote artifacts, and channel fan-out.",
    "label": "MoltNet Marketing Content (recursive)",
    "type": "tab"
  },
  {
    "apiUrl": "https://api.themolt.net",
    "clientId": "",
    "diaryId": "",
    "id": "mkt_agent_cfg",
    "name": "marketing-agent",
    "teamId": "",
    "type": "moltnet-agent"
  },
  {
    "agent": "mkt_agent_cfg",
    "id": "rp_harvester",
    "profileId": "",
    "profileName": "marketing-harvester",
    "type": "moltnet-runtime-profile"
  },
  {
    "agent": "mkt_agent_cfg",
    "id": "rp_editor",
    "profileId": "",
    "profileName": "marketing-editor",
    "type": "moltnet-runtime-profile"
  },
  {
    "agent": "mkt_agent_cfg",
    "id": "rp_writer",
    "profileId": "",
    "profileName": "marketing-writer",
    "type": "moltnet-runtime-profile"
  },
  {
    "agent": "mkt_agent_cfg",
    "id": "rp_reviewer",
    "profileId": "",
    "profileName": "marketing-reviewer",
    "type": "moltnet-runtime-profile"
  },
  {
    "agent": "mkt_agent_cfg",
    "id": "rp_judge",
    "profileId": "",
    "profileName": "marketing-judge",
    "type": "moltnet-runtime-profile"
  },
  {
    "id": "note_overview",
    "info": "PROFILES (skill + model + task input) — create one runtime profile per stage in the team, then run one daemon each: `agent-daemon poll --task-types freeform --profile <id>`.\n\n• marketing-harvester — cheap/fast model + a docs/GitHub/diary-analysis skill. Reads the repo (workspace: shared_mount).\n• marketing-editor — mid model + an editorial-angle skill. Dedupes against past postings.\n• marketing-writer — strong model + a brand-voice + channel-format skill. Drafts (workspace: none).\n• marketing-reviewer — mid model + a fact-check/brand-consistency skill.\n• marketing-judge — mid model + a rubric-scoring skill. Gates the loop.\n\n`allowedProfiles` is a ROUTING GATE, not a model picker — the model/skill live in the remote profile.",
    "name": "Runtime profiles = skill + model + input",
    "type": "comment",
    "x": 240,
    "y": 40,
    "z": "marketing_tab"
  },
  {
    "id": "note_schedule",
    "info": "SCHEDULING: the daemon only polls — there is no built-in cron. Drive a cadence externally (be realistic: biweekly, not daily):\n• GitHub Actions `schedule:` → packages/agent-daemon-action creates the first task, or\n• A Claude Code Remote trigger creates the HARVEST task on a cron.\nThe `inject` node here is the manual/dev trigger.\n\nREMOTE ARTIFACTS: full posts + images exceed the 64 KiB inline body, so the writer uploads a remote task artifact (moltnet_upload_task_artifact). Each `task: read` surfaces BOTH msg.result.artifactBody (inline) and msg.result.artifactRef (CID-backed remote ref) — the loop chains on whichever fits.",
    "name": "Scheduling + remote artifacts",
    "type": "comment",
    "x": 240,
    "y": 80,
    "z": "marketing_tab"
  },
  {
    "id": "inject_go",
    "name": "run (manual / cron)",
    "once": false,
    "payload": "",
    "payloadType": "date",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "topic": "",
    "type": "inject",
    "wires": [["fn_init"]],
    "x": 140,
    "y": 140,
    "z": "marketing_tab"
  },
  {
    "func": "// Seed the run. `channel` picks the target surface (linkedin | reddit | blog);\n// blog drafts are markdown-with-frontmatter for the /blog pipeline. `window`\n// scopes the harvest. Revision state travels on the message so concurrent runs\n// don't clash (flow context would).\nmsg.channel = (msg.payload && msg.payload.channel) || 'blog';\nmsg.window = (msg.payload && msg.payload.window) || 'the last 14 days';\nmsg.revision = 0;\nmsg.revisionNotes = '';\nreturn msg;",
    "id": "fn_init",
    "name": "seed run",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["build_harvest"]],
    "x": 320,
    "y": 140,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "brief": "You are a release-signal analyst for MoltNet (infrastructure for AI-agent autonomy: cryptographic identity, persistent memory, team diaries, autonomous auth). Analyse what shipped recently and is worth talking about publicly.\n\nSources, in the checked-out repo and via your MoltNet tools:\n1. Recent docs changes under docs/ (git log for the window).\n2. Recently merged PRs / notable commits (git log --merges and conventional-commit feat:/perf: subjects).\n3. Recent diary entries (moltnet_search_entries) that explain WHY things were built.\n\nReturn a freeform artifact with kind 'json' whose body is: { window, highlights: [{ title, whatChanged, whyItMatters, evidence: [pathsOrShas], audience }], themes: [string] }. Prefer 5-8 concrete, user-visible highlights over exhaustive changelog noise. Do not invent features — every highlight must cite evidence.",
    "contexts": [
      {
        "binding": "context_inline",
        "slug": "window",
        "value": "window",
        "valueType": "msg"
      }
    ],
    "expectedOutput": "",
    "id": "build_harvest",
    "name": "build HARVEST",
    "referencesFrom": "",
    "referencesRole": "context",
    "schemaCid": "",
    "submitOutputGate": true,
    "taskType": "freeform",
    "type": "moltnet-task-builder",
    "wires": [["create_harvest"]],
    "workspace": "shared_mount",
    "x": 520,
    "y": 140,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "generateCorrelationId": true,
    "id": "create_harvest",
    "maxAttempts": 2,
    "name": "HARVEST",
    "runtimeProfile": "rp_harvester",
    "type": "moltnet-tasks-create",
    "wires": [["wait_harvest"]],
    "x": 710,
    "y": 140,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "id": "wait_harvest",
    "kinds": "",
    "name": "wait HARVEST",
    "pollIntervalSec": 5,
    "tail": true,
    "taskId": "",
    "timeoutSec": 2400,
    "type": "moltnet-task-wait",
    "wires": [["debug_tail"], ["read_harvest"]],
    "x": 880,
    "y": 140,
    "z": "marketing_tab"
  },
  {
    "artifactKind": "json",
    "artifactTitle": "",
    "id": "read_harvest",
    "name": "read HARVEST",
    "role": "context",
    "source": "",
    "type": "moltnet-task-reader",
    "wires": [["fn_digest"]],
    "x": 140,
    "y": 240,
    "z": "marketing_tab"
  },
  {
    "func": "// Carry the digest + its outputRef so the ANGLE step can both read it inline\n// and reference it. The entries-search node next overwrites msg.payload with\n// past postings, so stash the digest on its own property first.\nmsg.digest = (msg.result && msg.result.artifactBody) || {};\nmsg.digestRef = msg.result && msg.result.outputRef;\nreturn msg;",
    "id": "fn_digest",
    "name": "digest",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["search_past"]],
    "x": 320,
    "y": 240,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "diaryId": "",
    "entryTypes": "",
    "excludeSuperseded": true,
    "excludeTags": "",
    "id": "search_past",
    "limit": 25,
    "name": "past postings",
    "offset": "",
    "query": "marketing post announcement launch feature highlight",
    "tags": "marketing,post",
    "type": "moltnet-entries-search",
    "wImportance": 1,
    "wRecency": 2,
    "wRelevance": 1,
    "wires": [["build_angle"]],
    "x": 520,
    "y": 240,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "brief": "You are MoltNet's content editor. From the harvest digest, pick exactly ONE angle worth a post right now, and it MUST NOT repeat anything in the past postings (the diary entries provided). Bias toward the angle a skeptical builder audience would actually find interesting; avoid hype.\n\nReturn a freeform artifact with kind 'json' whose body is: { angle: { hook, thesis, keyPoints: [string], evidence: [string] }, channels: [\"linkedin\"|\"reddit\"|\"blog\"], rationale, dedupedAgainst: [entryIds] }. If every harvest highlight has already been posted, set angle to null and explain in rationale — do not force a stale post.",
    "contexts": [
      {
        "binding": "context_inline",
        "slug": "digest",
        "value": "digest",
        "valueType": "msg"
      },
      {
        "binding": "context_inline",
        "slug": "past-postings",
        "value": "payload",
        "valueType": "msg"
      }
    ],
    "expectedOutput": "",
    "id": "build_angle",
    "name": "build ANGLE",
    "referencesFrom": "digestRef",
    "referencesRole": "context",
    "schemaCid": "",
    "submitOutputGate": true,
    "taskType": "freeform",
    "type": "moltnet-task-builder",
    "wires": [["create_angle"]],
    "workspace": "none",
    "x": 710,
    "y": 240,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "id": "create_angle",
    "maxAttempts": 2,
    "name": "ANGLE",
    "runtimeProfile": "rp_editor",
    "type": "moltnet-tasks-create",
    "wires": [["wait_angle"]],
    "x": 880,
    "y": 240,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "id": "wait_angle",
    "kinds": "",
    "name": "wait ANGLE",
    "pollIntervalSec": 5,
    "tail": true,
    "taskId": "",
    "timeoutSec": 1800,
    "type": "moltnet-task-wait",
    "wires": [["debug_tail"], ["read_angle"]],
    "x": 140,
    "y": 340,
    "z": "marketing_tab"
  },
  {
    "artifactKind": "json",
    "artifactTitle": "",
    "id": "read_angle",
    "name": "read ANGLE",
    "role": "context",
    "source": "",
    "type": "moltnet-task-reader",
    "wires": [["fn_angle"]],
    "x": 320,
    "y": 340,
    "z": "marketing_tab"
  },
  {
    "func": "// Lift the chosen angle. If the editor found nothing fresh (angle === null),\n// short-circuit to the 'nothing to post' lane — honest cadence over noise.\nconst body = (msg.result && msg.result.artifactBody) || {};\nmsg.angle = body.angle || null;\nmsg.angleRef = msg.result && msg.result.outputRef;\nif (msg.angle && Array.isArray(msg.angle.channels) && msg.angle.channels.length) {\n  msg.channel = msg.angle.channels[0];\n}\nmsg.hasAngle = msg.angle !== null;\nreturn msg;",
    "id": "fn_angle",
    "name": "chosen angle",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["switch_angle"]],
    "x": 500,
    "y": 340,
    "z": "marketing_tab"
  },
  {
    "checkall": "true",
    "id": "switch_angle",
    "name": "fresh angle?",
    "outputs": 2,
    "property": "hasAngle",
    "propertyType": "msg",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "type": "switch",
    "wires": [["build_write"], ["debug_nothing"]],
    "x": 690,
    "y": 340,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "brief": "You are MoltNet's copywriter. Write a draft for the target channel using the chosen angle. Honour MoltNet's brand voice (your runtime profile carries the brand-voice + channel-format skill): first-person, builder-to-builder, concrete, no hype, EU-privacy-aware; teal = the network, amber = the cryptographic identity/tattoo motif.\n\nChannel formats:\n• linkedin — 120-200 words, one hook line, 1-2 short paragraphs, a soft CTA, ≤3 hashtags.\n• reddit — plain, community-first, no marketing gloss; lead with the technical substance; disclose affiliation.\n• blog — markdown WITH YAML frontmatter (title, description, date, tags, channel) for the /blog pipeline; 300-600 words, H2 sections, one code/config snippet if apt.\n\nIf REVISION NOTES are present, this is a re-draft: address every point and keep what already worked. Write the post as a freeform artifact — inline `body` for short channels; for the blog post, ALSO upload the full markdown as a remote task artifact (moltnet_upload_task_artifact) so nothing is truncated. Every factual claim must trace to the angle's evidence.",
    "contexts": [
      {
        "binding": "context_inline",
        "slug": "angle",
        "value": "angle",
        "valueType": "msg"
      },
      {
        "binding": "context_inline",
        "slug": "channel",
        "value": "channel",
        "valueType": "msg"
      },
      {
        "binding": "context_inline",
        "slug": "revision-notes",
        "value": "revisionNotes",
        "valueType": "msg"
      }
    ],
    "expectedOutput": "A channel-ready draft. Blog = markdown + frontmatter; linkedin/reddit = plain text.",
    "id": "build_write",
    "name": "build WRITE",
    "referencesFrom": "priorDraftRef",
    "referencesRole": "context",
    "schemaCid": "",
    "submitOutputGate": false,
    "taskType": "freeform",
    "type": "moltnet-task-builder",
    "wires": [["create_write"]],
    "workspace": "none",
    "x": 880,
    "y": 340,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "id": "create_write",
    "maxAttempts": 2,
    "name": "WRITE",
    "runtimeProfile": "rp_writer",
    "type": "moltnet-tasks-create",
    "wires": [["wait_write"]],
    "x": 140,
    "y": 460,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "id": "wait_write",
    "kinds": "",
    "name": "wait WRITE",
    "pollIntervalSec": 5,
    "tail": true,
    "taskId": "",
    "timeoutSec": 1800,
    "type": "moltnet-task-wait",
    "wires": [["debug_tail"], ["read_write"]],
    "x": 300,
    "y": 460,
    "z": "marketing_tab"
  },
  {
    "artifactKind": "",
    "artifactTitle": "",
    "id": "read_write",
    "name": "read WRITE",
    "role": "judged_work",
    "source": "",
    "type": "moltnet-task-reader",
    "wires": [["fn_carry_draft"]],
    "x": 470,
    "y": 460,
    "z": "marketing_tab"
  },
  {
    "func": "// Carry the draft for review + the eventual approval surface. Keep BOTH refs:\n// outputRef chains the review/judge tasks; artifactRef points at the remote\n// CID-backed artifact (the full blog markdown) for the human to publish.\nmsg.draftRef = msg.result && msg.result.outputRef;\nmsg.draftArtifactRef = msg.result && msg.result.artifactRef;\nmsg.draftSummary = msg.result && msg.result.summary;\nmsg.draftBody = msg.result && msg.result.artifactBody;\nreturn msg;",
    "id": "fn_carry_draft",
    "name": "carry draft",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["build_review"]],
    "x": 650,
    "y": 460,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "brief": "You are MoltNet's content reviewer. Critique the referenced draft against three axes and return concrete, actionable edits — do not rewrite it yourself.\n1. Factual accuracy: every claim must trace to the harvest digest evidence provided; flag anything unverifiable or overstated.\n2. Brand voice: first-person builder tone, no hype, motifs used correctly (teal=network, amber=identity).\n3. Channel fit: length, structure, CTA/disclosure for the target channel.\n\nReturn a freeform artifact with kind 'json' whose body is: { edits: [{ severity: \"blocker\"|\"nit\", where, problem, fix }], factsChecked: [{ claim, verdict, evidence }], strengths: [string] }.",
    "contexts": [
      {
        "binding": "context_inline",
        "slug": "digest",
        "value": "digest",
        "valueType": "msg"
      },
      {
        "binding": "context_inline",
        "slug": "channel",
        "value": "channel",
        "valueType": "msg"
      }
    ],
    "expectedOutput": "",
    "id": "build_review",
    "name": "build REVIEW",
    "referencesFrom": "draftRef",
    "referencesRole": "reviewed_diff",
    "schemaCid": "",
    "submitOutputGate": true,
    "taskType": "freeform",
    "type": "moltnet-task-builder",
    "wires": [["create_review"]],
    "workspace": "none",
    "x": 850,
    "y": 460,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "id": "create_review",
    "maxAttempts": 2,
    "name": "REVIEW",
    "runtimeProfile": "rp_reviewer",
    "type": "moltnet-tasks-create",
    "wires": [["wait_review"]],
    "x": 140,
    "y": 560,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "id": "wait_review",
    "kinds": "",
    "name": "wait REVIEW",
    "pollIntervalSec": 5,
    "tail": true,
    "taskId": "",
    "timeoutSec": 1800,
    "type": "moltnet-task-wait",
    "wires": [["debug_tail"], ["read_review"]],
    "x": 300,
    "y": 560,
    "z": "marketing_tab"
  },
  {
    "artifactKind": "json",
    "artifactTitle": "",
    "id": "read_review",
    "name": "read REVIEW",
    "role": "context",
    "source": "",
    "type": "moltnet-task-reader",
    "wires": [["fn_carry_review"]],
    "x": 470,
    "y": 560,
    "z": "marketing_tab"
  },
  {
    "func": "// Carry the review so the JUDGE can weigh it and a re-draft can act on it.\nmsg.review = (msg.result && msg.result.artifactBody) || {};\nmsg.reviewRef = msg.result && msg.result.outputRef;\nreturn msg;",
    "id": "fn_carry_review",
    "name": "carry review",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["build_judge"]],
    "x": 650,
    "y": 560,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "brief": "You are the gate on MoltNet's content loop. Given the referenced draft (judged_work) and the reviewer's critique, decide whether this is ready for a human to publish. Be strict: a single unresolved 'blocker' edit, an unverifiable factual claim, or an off-voice draft fails.\n\nReturn a freeform artifact with kind 'json' whose body is: { pass: boolean, score: number (0-1), notes: string (what specifically to fix on the next pass, or why it passes) }. pass=true only when the draft is accurate, on-voice, channel-correct, and free of blocker edits.",
    "contexts": [
      {
        "binding": "context_inline",
        "slug": "review",
        "value": "review",
        "valueType": "msg"
      }
    ],
    "expectedOutput": "",
    "id": "build_judge",
    "name": "build JUDGE",
    "referencesFrom": "draftRef",
    "referencesRole": "judged_work",
    "schemaCid": "",
    "submitOutputGate": true,
    "taskType": "freeform",
    "type": "moltnet-task-builder",
    "wires": [["create_judge"]],
    "workspace": "none",
    "x": 850,
    "y": 560,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "id": "create_judge",
    "maxAttempts": 2,
    "name": "JUDGE",
    "runtimeProfile": "rp_judge",
    "type": "moltnet-tasks-create",
    "wires": [["wait_judge"]],
    "x": 140,
    "y": 660,
    "z": "marketing_tab"
  },
  {
    "agent": "mkt_agent_cfg",
    "id": "wait_judge",
    "kinds": "",
    "name": "wait JUDGE",
    "pollIntervalSec": 5,
    "tail": true,
    "taskId": "",
    "timeoutSec": 1800,
    "type": "moltnet-task-wait",
    "wires": [["debug_tail"], ["read_judge"]],
    "x": 300,
    "y": 660,
    "z": "marketing_tab"
  },
  {
    "artifactKind": "json",
    "artifactTitle": "",
    "id": "read_judge",
    "name": "read JUDGE",
    "role": "context",
    "source": "",
    "type": "moltnet-task-reader",
    "wires": [["fn_verdict"]],
    "x": 470,
    "y": 660,
    "z": "marketing_tab"
  },
  {
    "func": "// The recursion decision. On pass → approval gate. On fail → fold the judge +\n// review notes back into the WRITE step and loop, until a revision cap.\nconst MAX_REVISIONS = 3;\nconst verdict = (msg.result && msg.result.artifactBody) || {};\nmsg.verdict = verdict;\nif (verdict.pass === true) {\n  msg.outcome = 'approved';\n  return msg;\n}\nmsg.revision = (msg.revision || 0) + 1;\nif (msg.revision > MAX_REVISIONS) {\n  msg.outcome = 'gave-up';\n  return msg;\n}\n// Re-draft: point WRITE at the prior draft and hand it the notes to fix.\nmsg.outcome = 'revise';\nmsg.priorDraftRef = msg.draftRef;\nmsg.revisionNotes =\n  'Revision ' + msg.revision + ' of ' + MAX_REVISIONS + '.\\n' +\n  'JUDGE: ' + (verdict.notes || '') + '\\n' +\n  'REVIEW EDITS: ' + JSON.stringify((msg.review && msg.review.edits) || []);\nreturn msg;",
    "id": "fn_verdict",
    "name": "verdict + revise?",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["switch_outcome"]],
    "x": 650,
    "y": 660,
    "z": "marketing_tab"
  },
  {
    "checkall": "false",
    "id": "switch_outcome",
    "name": "outcome",
    "outputs": 3,
    "property": "outcome",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "approved", "vt": "str" },
      { "t": "eq", "v": "revise", "vt": "str" },
      { "t": "eq", "v": "gave-up", "vt": "str" }
    ],
    "type": "switch",
    "wires": [["debug_approved"], ["build_write"], ["debug_giveup"]],
    "x": 840,
    "y": 660,
    "z": "marketing_tab"
  },
  {
    "active": true,
    "complete": "true",
    "console": false,
    "id": "debug_tail",
    "name": "tail (live)",
    "targetType": "full",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 470,
    "y": 40,
    "z": "marketing_tab"
  },
  {
    "active": true,
    "complete": "true",
    "console": false,
    "id": "debug_approved",
    "name": "APPROVED — review + publish",
    "targetType": "full",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 200,
    "y": 760,
    "z": "marketing_tab"
  },
  {
    "active": true,
    "complete": "true",
    "console": false,
    "id": "debug_giveup",
    "name": "NEEDS HUMAN — cap hit",
    "targetType": "full",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 460,
    "y": 760,
    "z": "marketing_tab"
  },
  {
    "active": true,
    "complete": "verdict",
    "console": false,
    "id": "debug_nothing",
    "name": "nothing fresh to post",
    "targetType": "msg",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 690,
    "y": 400,
    "z": "marketing_tab"
  }
]
