libs/node-red-contrib-core/examples/weather-advisor.flow.json
[
  {
    "disabled": false,
    "id": "weather_tab",
    "info": "Free-text request → INTENT agent (classify + extract slots) → Open-Meteo forecast → ADVISOR agent (reason → recommend) → JUDGE agent (evaluate vs rubric) → decision.\n\nDemonstrates: external API → agent, passing context via task `input.context`, agent output→input chaining via `references`, and judgment/eval via a freeform task with a rubric.\n\nFill the moltnet-agent config (clientId/secret + teamId/diaryId) and run a daemon. See the comment node for model-specialization notes.",
    "label": "MoltNet Weather Advisor (multi-agent)",
    "type": "tab"
  },
  {
    "apiUrl": "https://api.themolt.net",
    "clientId": "",
    "diaryId": "",
    "id": "weather_agent_cfg",
    "name": "weather-agent",
    "teamId": "",
    "type": "moltnet-agent"
  },
  {
    "id": "note_specialization",
    "info": "By default every task runs on whatever ONE daemon is up — no `allowedProfiles` set.\n\nTo route INTENT to a small/fast model and ADVISOR/JUDGE to a stronger one: attach a `moltnet-runtime-profile` config node to each `tasks: create`, and run one daemon per profile (`--profile <id>`). `allowedProfiles` is a routing gate, not a model picker.",
    "name": "Model specialization (optional)",
    "type": "comment",
    "x": 200,
    "y": 40,
    "z": "weather_tab"
  },
  {
    "id": "inject_go",
    "name": "go",
    "once": false,
    "payload": "",
    "payloadType": "date",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "topic": "",
    "type": "inject",
    "wires": [["tmpl_request"]],
    "x": 130,
    "y": 120,
    "z": "weather_tab"
  },
  {
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "id": "tmpl_request",
    "name": "user request",
    "output": "str",
    "syntax": "plain",
    "template": "good day to bbq in Lyon this weekend?",
    "type": "template",
    "wires": [["fn_intent_brief"]],
    "x": 300,
    "y": 120,
    "z": "weather_tab"
  },
  {
    "func": "const userText = msg.payload;\nmsg.payload = {\n  input: {\n    brief:\n      \"Classify this request and extract slots. Return your structured answer as an \" +\n      \"artifact with fields: proceed (boolean — true only if this is a weather-activity \" +\n      \"question), location (string), timeframe (string), activity (string). If it is not \" +\n      \"a weather-activity question, set proceed=false. Request: \\\"\" + userText + \"\\\"\",\n    context: [\n      { slug: 'user-request', binding: 'context_inline', content: String(userText) }\n    ],\n    execution: { workspace: 'none' },\n    successCriteria: {\n      version: 1,\n      gates: [\n        {\n          id: 'submit-output',\n          kind: 'submit-tool-call',\n          description: 'Call submit_freeform_output once with the structured slots.',\n          required: true\n        }\n      ]\n    }\n  }\n};\nreturn msg;",
    "id": "fn_intent_brief",
    "name": "build INTENT brief",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["create_intent"]],
    "x": 510,
    "y": 120,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "generateCorrelationId": true,
    "id": "create_intent",
    "name": "INTENT",
    "taskType": "freeform",
    "type": "moltnet-tasks-create",
    "wires": [["wait_intent"]],
    "x": 690,
    "y": 120,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "id": "wait_intent",
    "kinds": "",
    "name": "wait INTENT",
    "pollIntervalSec": 5,
    "tail": true,
    "taskId": "",
    "timeoutSec": 1800,
    "type": "moltnet-task-wait",
    "wires": [["debug_tail"], ["fn_parse_intent"]],
    "x": 860,
    "y": 120,
    "z": "weather_tab"
  },
  {
    "func": "// Freeform artifacts are { kind, title, body } where `body` holds the inline\n// content (a JSON string for kind:'json'). Extract the first artifact's body,\n// falling back to the summary if the agent inlined JSON there instead.\nfunction extractJson(state) {\n  const arts = Array.isArray(state.artifacts) ? state.artifacts : [];\n  for (const art of arts) {\n    if (!art || typeof art !== 'object') continue;\n    if (typeof art.body === 'string') {\n      try { return JSON.parse(art.body); } catch (e) { /* not JSON, keep looking */ }\n    }\n  }\n  if (typeof state.summary === 'string') {\n    const m = state.summary.match(/\\{[\\s\\S]*\\}/);\n    if (m) { try { return JSON.parse(m[0]); } catch (e) {} }\n  }\n  return {};\n}\nconst state = (msg.payload && msg.payload.state) || {};\nconst slots = extractJson(state);\nmsg.intent = slots;\nmsg.intentTaskId = msg.payload && msg.payload.taskId;\nmsg.intentOutputCid = msg.payload && msg.payload.attempt && msg.payload.attempt.outputCid;\nmsg.proceed = slots.proceed === true;\nreturn msg;",
    "id": "fn_parse_intent",
    "name": "parse slots",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["switch_proceed"]],
    "x": 130,
    "y": 220,
    "z": "weather_tab"
  },
  {
    "checkall": "true",
    "id": "switch_proceed",
    "name": "weather-activity?",
    "outputs": 2,
    "property": "proceed",
    "propertyType": "msg",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "type": "switch",
    "wires": [["fn_build_url"], ["debug_unsupported"]],
    "x": 320,
    "y": 220,
    "z": "weather_tab"
  },
  {
    "func": "// Geocoding is out of scope for the demo: a tiny lookup table, default Lyon.\nconst COORDS = { lyon: [45.76, 4.84], paris: [48.85, 2.35], london: [51.51, -0.13], berlin: [52.52, 13.40] };\nconst key = String((msg.intent && msg.intent.location) || 'lyon').toLowerCase();\nconst [lat, lon] = COORDS[key] || COORDS.lyon;\nmsg.url =\n  'https://api.open-meteo.com/v1/forecast?latitude=' + lat + '&longitude=' + lon +\n  '&daily=temperature_2m_max,precipitation_probability_max&forecast_days=7&timezone=auto';\nreturn msg;",
    "id": "fn_build_url",
    "name": "forecast URL",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["http_forecast"]],
    "x": 510,
    "y": 220,
    "z": "weather_tab"
  },
  {
    "id": "http_forecast",
    "method": "GET",
    "name": "Open-Meteo",
    "persist": false,
    "ret": "obj",
    "tls": "",
    "type": "http request",
    "url": "",
    "wires": [["fn_advisor_brief"]],
    "x": 690,
    "y": 220,
    "z": "weather_tab"
  },
  {
    "func": "const forecast = msg.payload; // http response object\nmsg.payload = {\n  input: {\n    brief:\n      \"Given this 7-day forecast and the user's activity, recommend the best day(s) with \" +\n      \"concrete reasoning (temperature, rain probability), or advise against if the weather \" +\n      \"is poor. Be specific about which day and why.\",\n    context: [\n      { slug: 'intent', binding: 'context_inline', content: JSON.stringify(msg.intent || {}) },\n      { slug: 'forecast', binding: 'context_inline', content: JSON.stringify(forecast || {}).slice(0, 60000) }\n    ],\n    execution: { workspace: 'none' }\n  },\n  references: msg.intentOutputCid ? [{ taskId: msg.intentTaskId, outputCid: msg.intentOutputCid, role: 'context' }] : []\n};\nreturn msg;",
    "id": "fn_advisor_brief",
    "name": "build ADVISOR brief",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["create_advisor"]],
    "x": 880,
    "y": 220,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "id": "create_advisor",
    "name": "ADVISOR",
    "taskType": "freeform",
    "type": "moltnet-tasks-create",
    "wires": [["wait_advisor"]],
    "x": 130,
    "y": 320,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "id": "wait_advisor",
    "kinds": "",
    "name": "wait ADVISOR",
    "pollIntervalSec": 5,
    "tail": true,
    "taskId": "",
    "timeoutSec": 1800,
    "type": "moltnet-task-wait",
    "wires": [["debug_tail"], ["fn_judge_brief"]],
    "x": 310,
    "y": 320,
    "z": "weather_tab"
  },
  {
    "func": "const advisor = msg.payload && msg.payload.state ? msg.payload.state : {};\nmsg.advisorTaskId = msg.payload && msg.payload.taskId;\nmsg.recommendation = advisor.summary; // carry past the JUDGE payload overwrite\nconst advisorOutputCid = msg.payload && msg.payload.attempt && msg.payload.attempt.outputCid;\nmsg.payload = {\n  input: {\n    brief:\n      \"Evaluate the weather recommendation against the rubric. Return an artifact with \" +\n      \"fields: pass (boolean), score (0-1), notes (string). pass=true only if the advice is \" +\n      \"sound, matches the forecast, and is actionable.\",\n    context: [\n      { slug: 'recommendation', binding: 'context_inline', content: String(advisor.summary || 'n/a') }\n    ],\n    execution: { workspace: 'none' },\n    successCriteria: {\n      version: 1,\n      gates: [\n        {\n          id: 'submit-output',\n          kind: 'submit-tool-call',\n          description: 'Call submit_freeform_output once with the verdict.',\n          required: true\n        }\n      ]\n    }\n  },\n  references: advisorOutputCid ? [{ taskId: msg.advisorTaskId, outputCid: advisorOutputCid, role: 'judged_work' }] : []\n};\nreturn msg;",
    "id": "fn_judge_brief",
    "name": "build JUDGE brief",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["create_judge"]],
    "x": 500,
    "y": 320,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "id": "create_judge",
    "name": "JUDGE",
    "taskType": "freeform",
    "type": "moltnet-tasks-create",
    "wires": [["wait_judge"]],
    "x": 690,
    "y": 320,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "id": "wait_judge",
    "kinds": "",
    "name": "wait JUDGE",
    "pollIntervalSec": 5,
    "tail": true,
    "taskId": "",
    "timeoutSec": 1800,
    "type": "moltnet-task-wait",
    "wires": [["debug_tail"], ["fn_parse_verdict"]],
    "x": 860,
    "y": 320,
    "z": "weather_tab"
  },
  {
    "func": "// Same extraction as the intent parser: read the first artifact's `body`\n// (JSON string), falling back to a JSON blob in the summary.\nfunction extractJson(state) {\n  const arts = Array.isArray(state.artifacts) ? state.artifacts : [];\n  for (const art of arts) {\n    if (!art || typeof art !== 'object') continue;\n    if (typeof art.body === 'string') {\n      try { return JSON.parse(art.body); } catch (e) { /* not JSON, keep looking */ }\n    }\n  }\n  if (typeof state.summary === 'string') {\n    const m = state.summary.match(/\\{[\\s\\S]*\\}/);\n    if (m) { try { return JSON.parse(m[0]); } catch (e) {} }\n  }\n  return {};\n}\nconst state = (msg.payload && msg.payload.state) || {};\nconst verdict = extractJson(state);\nmsg.verdict = verdict;\nmsg.pass = verdict.pass === true;\nreturn msg;",
    "id": "fn_parse_verdict",
    "name": "parse verdict",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["switch_verdict"]],
    "x": 140,
    "y": 420,
    "z": "weather_tab"
  },
  {
    "checkall": "true",
    "id": "switch_verdict",
    "name": "judge passed?",
    "outputs": 2,
    "property": "pass",
    "propertyType": "msg",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "type": "switch",
    "wires": [["debug_final"], ["debug_flagged"]],
    "x": 330,
    "y": 420,
    "z": "weather_tab"
  },
  {
    "active": true,
    "complete": "payload",
    "console": false,
    "id": "debug_tail",
    "name": "tail (live)",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 1060,
    "y": 200,
    "z": "weather_tab"
  },
  {
    "active": true,
    "complete": "intent",
    "console": false,
    "id": "debug_unsupported",
    "name": "not a weather-activity question",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 360,
    "y": 160,
    "z": "weather_tab"
  },
  {
    "active": true,
    "complete": "recommendation",
    "console": false,
    "id": "debug_final",
    "name": "RECOMMENDATION (judge passed)",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 560,
    "y": 400,
    "z": "weather_tab"
  },
  {
    "active": true,
    "complete": "verdict",
    "console": false,
    "id": "debug_flagged",
    "name": "FLAGGED (judge rejected)",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 560,
    "y": 460,
    "z": "weather_tab"
  }
]
