libs/node-red-contrib-core/examples/weather-advisor.flow.json
[
  {
    "disabled": false,
    "id": "weather_tab",
    "info": "Free-text request → INTENT agent (classify + extract slots) → Open-Meteo forecast → ADVISOR agent (reason → recommend) → JUDGE agent (evaluate vs rubric) → decision.\n\nDemonstrates: external API → agent, passing context via the `task: build` node's context rows, agent output→input chaining via the `task: read` node's pre-computed `outputRef`, and judgment/eval via a freeform task with a rubric.\n\nThe `task: build` nodes compose the create body from the SDK builder; `task: read` parses each completed snapshot into typed output (`msg.payload`) + a flat `msg.result` (summary, outputRef, artifactBody).\n\nFill the moltnet-agent config (clientId/secret + teamId/diaryId) and run a daemon. See the comment node for model-specialization notes.",
    "label": "MoltNet Weather Advisor (multi-agent)",
    "type": "tab"
  },
  {
    "apiUrl": "https://api.themolt.net",
    "clientId": "",
    "diaryId": "",
    "id": "weather_agent_cfg",
    "name": "weather-agent",
    "teamId": "",
    "type": "moltnet-agent"
  },
  {
    "id": "note_specialization",
    "info": "By default every task runs on whatever ONE daemon is up — no `allowedProfiles` set.\n\nTo route INTENT to a small/fast model and ADVISOR/JUDGE to a stronger one: attach a `moltnet-runtime-profile` config node to each `tasks: create`, and run one daemon per profile (`--profile <id>`). `allowedProfiles` is a routing gate, not a model picker.",
    "name": "Model specialization (optional)",
    "type": "comment",
    "x": 200,
    "y": 40,
    "z": "weather_tab"
  },
  {
    "id": "inject_go",
    "name": "go",
    "once": false,
    "payload": "",
    "payloadType": "date",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "topic": "",
    "type": "inject",
    "wires": [["tmpl_request"]],
    "x": 130,
    "y": 120,
    "z": "weather_tab"
  },
  {
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "id": "tmpl_request",
    "name": "user request",
    "output": "str",
    "syntax": "plain",
    "template": "good day to bbq in Lyon this weekend?",
    "type": "template",
    "wires": [["build_intent"]],
    "x": 300,
    "y": 120,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "brief": "Classify this request and extract slots. Return your structured answer as a freeform artifact with kind 'json' whose body is a JSON object with fields: proceed (boolean — true only if this is a weather-activity question), location (string), timeframe (string), activity (string). If it is not a weather-activity question, set proceed=false.",
    "contexts": [
      {
        "binding": "context_inline",
        "slug": "user-request",
        "value": "payload",
        "valueType": "msg"
      }
    ],
    "expectedOutput": "",
    "id": "build_intent",
    "name": "build INTENT",
    "referencesFrom": "",
    "referencesRole": "context",
    "schemaCid": "",
    "submitOutputGate": true,
    "taskType": "freeform",
    "type": "moltnet-task-builder",
    "wires": [["create_intent"]],
    "workspace": "none",
    "x": 500,
    "y": 120,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "generateCorrelationId": true,
    "id": "create_intent",
    "name": "INTENT",
    "taskType": "freeform",
    "type": "moltnet-tasks-create",
    "wires": [["wait_intent"]],
    "x": 690,
    "y": 120,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "id": "wait_intent",
    "kinds": "",
    "name": "wait INTENT",
    "pollIntervalSec": 5,
    "tail": true,
    "taskId": "",
    "timeoutSec": 1800,
    "type": "moltnet-task-wait",
    "wires": [["debug_tail"], ["read_intent"]],
    "x": 860,
    "y": 120,
    "z": "weather_tab"
  },
  {
    "artifactKind": "json",
    "artifactTitle": "",
    "id": "read_intent",
    "name": "read INTENT",
    "role": "context",
    "source": "",
    "type": "moltnet-task-reader",
    "wires": [["fn_intent_slots"]],
    "x": 130,
    "y": 220,
    "z": "weather_tab"
  },
  {
    "func": "// task: read parsed the JSON artifact into msg.result.artifactBody and the\n// chaining ref into msg.result.outputRef. Lift the slots onto msg for the\n// switch + the forecast URL builder; keep the outputRef for ADVISOR to chain.\nconst slots = (msg.result && msg.result.artifactBody) || {};\nmsg.intent = slots;\nmsg.intentRef = msg.result && msg.result.outputRef;\nmsg.proceed = slots.proceed === true;\nreturn msg;",
    "id": "fn_intent_slots",
    "name": "intent slots",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["switch_proceed"]],
    "x": 320,
    "y": 220,
    "z": "weather_tab"
  },
  {
    "checkall": "true",
    "id": "switch_proceed",
    "name": "weather-activity?",
    "outputs": 2,
    "property": "proceed",
    "propertyType": "msg",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "type": "switch",
    "wires": [["fn_build_url"], ["debug_unsupported"]],
    "x": 520,
    "y": 220,
    "z": "weather_tab"
  },
  {
    "func": "// Geocoding is out of scope for the demo: a tiny lookup table, default Lyon.\nconst COORDS = { lyon: [45.76, 4.84], paris: [48.85, 2.35], london: [51.51, -0.13], berlin: [52.52, 13.40] };\nconst key = String((msg.intent && msg.intent.location) || 'lyon').toLowerCase();\nconst [lat, lon] = COORDS[key] || COORDS.lyon;\nmsg.url =\n  'https://api.open-meteo.com/v1/forecast?latitude=' + lat + '&longitude=' + lon +\n  '&daily=temperature_2m_max,precipitation_probability_max&forecast_days=7&timezone=auto';\nreturn msg;",
    "id": "fn_build_url",
    "name": "forecast URL",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["http_forecast"]],
    "x": 710,
    "y": 220,
    "z": "weather_tab"
  },
  {
    "id": "http_forecast",
    "method": "GET",
    "name": "Open-Meteo",
    "persist": false,
    "ret": "obj",
    "tls": "",
    "type": "http request",
    "url": "",
    "wires": [["build_advisor"]],
    "x": 130,
    "y": 320,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "brief": "Given the 7-day forecast and the user's activity, recommend the best day(s) with concrete reasoning (temperature, rain probability), or advise against if the weather is poor. Be specific about which day and why.",
    "contexts": [
      {
        "binding": "context_inline",
        "slug": "intent",
        "value": "intent",
        "valueType": "msg"
      },
      {
        "binding": "context_inline",
        "slug": "forecast",
        "value": "payload",
        "valueType": "msg"
      }
    ],
    "expectedOutput": "",
    "id": "build_advisor",
    "name": "build ADVISOR",
    "referencesFrom": "intentRef",
    "referencesRole": "context",
    "schemaCid": "",
    "submitOutputGate": false,
    "taskType": "freeform",
    "type": "moltnet-task-builder",
    "wires": [["create_advisor"]],
    "workspace": "none",
    "x": 330,
    "y": 320,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "id": "create_advisor",
    "name": "ADVISOR",
    "taskType": "freeform",
    "type": "moltnet-tasks-create",
    "wires": [["wait_advisor"]],
    "x": 520,
    "y": 320,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "id": "wait_advisor",
    "kinds": "",
    "name": "wait ADVISOR",
    "pollIntervalSec": 5,
    "tail": true,
    "taskId": "",
    "timeoutSec": 1800,
    "type": "moltnet-task-wait",
    "wires": [["debug_tail"], ["read_advisor"]],
    "x": 700,
    "y": 320,
    "z": "weather_tab"
  },
  {
    "artifactKind": "",
    "artifactTitle": "",
    "id": "read_advisor",
    "name": "read ADVISOR",
    "role": "judged_work",
    "source": "",
    "type": "moltnet-task-reader",
    "wires": [["fn_carry_recommendation"]],
    "x": 870,
    "y": 320,
    "z": "weather_tab"
  },
  {
    "func": "// Carry the recommendation summary past the JUDGE payload overwrite, and keep\n// the advisor outputRef (role: judged_work) for the JUDGE task to reference.\nmsg.recommendation = (msg.result && msg.result.summary) || (msg.payload && msg.payload.summary);\nmsg.advisorRef = msg.result && msg.result.outputRef;\nreturn msg;",
    "id": "fn_carry_recommendation",
    "name": "carry recommendation",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["build_judge"]],
    "x": 130,
    "y": 420,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "brief": "Evaluate the weather recommendation against the rubric. Return a freeform artifact with kind 'json' whose body is a JSON object with fields: pass (boolean), score (0-1), notes (string). pass=true only if the advice is sound, matches the forecast, and is actionable.",
    "contexts": [
      {
        "binding": "context_inline",
        "slug": "recommendation",
        "value": "recommendation",
        "valueType": "msg"
      }
    ],
    "expectedOutput": "",
    "id": "build_judge",
    "name": "build JUDGE",
    "referencesFrom": "advisorRef",
    "referencesRole": "judged_work",
    "schemaCid": "",
    "submitOutputGate": true,
    "taskType": "freeform",
    "type": "moltnet-task-builder",
    "wires": [["create_judge"]],
    "workspace": "none",
    "x": 330,
    "y": 420,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "id": "create_judge",
    "name": "JUDGE",
    "taskType": "freeform",
    "type": "moltnet-tasks-create",
    "wires": [["wait_judge"]],
    "x": 520,
    "y": 420,
    "z": "weather_tab"
  },
  {
    "agent": "weather_agent_cfg",
    "id": "wait_judge",
    "kinds": "",
    "name": "wait JUDGE",
    "pollIntervalSec": 5,
    "tail": true,
    "taskId": "",
    "timeoutSec": 1800,
    "type": "moltnet-task-wait",
    "wires": [["debug_tail"], ["read_judge"]],
    "x": 700,
    "y": 420,
    "z": "weather_tab"
  },
  {
    "artifactKind": "json",
    "artifactTitle": "",
    "id": "read_judge",
    "name": "read JUDGE",
    "role": "context",
    "source": "",
    "type": "moltnet-task-reader",
    "wires": [["fn_verdict"]],
    "x": 870,
    "y": 420,
    "z": "weather_tab"
  },
  {
    "func": "// task: read parsed the verdict JSON into msg.result.artifactBody.\nconst verdict = (msg.result && msg.result.artifactBody) || {};\nmsg.verdict = verdict;\nmsg.pass = verdict.pass === true;\nreturn msg;",
    "id": "fn_verdict",
    "name": "verdict",
    "noerr": 0,
    "outputs": 1,
    "type": "function",
    "wires": [["switch_verdict"]],
    "x": 130,
    "y": 520,
    "z": "weather_tab"
  },
  {
    "checkall": "true",
    "id": "switch_verdict",
    "name": "judge passed?",
    "outputs": 2,
    "property": "pass",
    "propertyType": "msg",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "type": "switch",
    "wires": [["debug_final"], ["debug_flagged"]],
    "x": 330,
    "y": 520,
    "z": "weather_tab"
  },
  {
    "active": true,
    "complete": "payload",
    "console": false,
    "id": "debug_tail",
    "name": "tail (live)",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 1060,
    "y": 200,
    "z": "weather_tab"
  },
  {
    "active": true,
    "complete": "intent",
    "console": false,
    "id": "debug_unsupported",
    "name": "not a weather-activity question",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 720,
    "y": 160,
    "z": "weather_tab"
  },
  {
    "active": true,
    "complete": "recommendation",
    "console": false,
    "id": "debug_final",
    "name": "RECOMMENDATION (judge passed)",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 560,
    "y": 500,
    "z": "weather_tab"
  },
  {
    "active": true,
    "complete": "verdict",
    "console": false,
    "id": "debug_flagged",
    "name": "FLAGGED (judge rejected)",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 560,
    "y": 560,
    "z": "weather_tab"
  }
]
